<template>
    <q-page class="row justify-center">
        <div class="q-pa-md">
            <form @submit="updateUserInformation" class="q-gutter-md q-pa-md">
                <div class="form-field">
                    <label for="full-name">Full name</label>
                    <q-input
                        name="full-name-input"
                        filled
                        type="text"
                        hint="Name and surname"
                        v-model:model-value="modifiedUserData.name"
                        lazy-rules
                        required
                    />
                </div>
                <q-separator />
                <div class="form-field">
                    <label for="email">Email</label>
                    <q-input
                        name="email-input"
                        filled
                        type="email"
                        hint="Your current email"
                        v-model:model-value="modifiedUserData.email"
                        required
                        :readonly="true"
                        :rules="vaildEmailRule"
                        lazy-rules
                    />
                </div>
                <q-separator />
                <div class="form-field">
                    <label for="biography">Biography</label>
                    <q-input
                        name="biography-input"
                        filled
                        type="textarea"
                        hint="Your biography"
                        v-model:model-value="modifiedUserData.biography"
                        label="Biography"
                    />
                </div>
                <q-separator />
                <div class="form-field">
                    <q-input
                        name="current-password-input"
                        filled
                        type="password"
                        hint="Current password"
                        v-model:model-value="modifiedUserData.password"
                        reqired
                        lazy-rules
                        :rules="validOldPasswordRule"
                    />
                </div>
                <div class="form-field">
                    <label for="new-password-input">Change password</label>
                    <q-input
                        name="new-password-input"
                        filled
                        type="password"
                        hint="New password"
                        v-model:model-value="newPassword"
                        lazy-rules
                        :rules="validPasswordRule"
                    />
                    <div v-if="newPassword !== ''">
                        <span>Password strength: </span>
                        <span :style="getFontStyle">
                            {{ PasswordCheckStrength[currentPasswordStrength] }}
                        </span>
                    </div>
                    <q-input
                        name="new-password-check-input"
                        filled
                        type="password"
                        hint="New password (again)"
                        v-model:model-value="newPasswordCheck"
                        lazy-rules
                        :rules="passwordsMatchRule"
                    />
                </div>
                <q-btn
                    name="update-account-button"
                    label="Update Account informaition"
                    type="submit"
                    color="primary"
                    :disable="!formIsValid"
                />
            </form>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import {
    AppUser,
    AppUserPutDTO,
    useAppUserStore,
} from 'src/stores/app-user-store';
import { useAuthenticationStore } from 'src/stores/authentication-store';
import { computed, reactive, ref } from 'vue';
import {
    ruleIsEmail,
    ruleMatchingPasswords,
    ruleNotEmptyInput,
    rulePasswordStrength,
} from 'src/utils/rules';
import { hashPassword } from 'src/utils/password-utils';
import {
    PasswordCheckStrength,
    checkPasswordStrength,
    getPasswordValidatorStyle,
} from 'src/utils/password-utils';
import { ValidationRule } from 'quasar';
import { useRouter } from 'vue-router';
import { RouteParts } from 'src/router/routes';

const authStore = useAuthenticationStore();
const userStore = useAppUserStore();
const router = useRouter();

// state
const currentUserData = await getCurrentUserData();
const newPassword = ref<string>('');
const newPasswordCheck = ref<string>('');

const modifiedUserData = reactive<AppUserPutDTO>({
    name: currentUserData.name,
    email: currentUserData.email,
    password: '',
    newPassword: '',
    isEnabled: currentUserData.isEnabled,
    biography: currentUserData.biography,
    imagePath: currentUserData.imagePath,
    appRoleId: currentUserData.appRoleId,
});

// Form Validation
const currentPasswordStrength = computed<PasswordCheckStrength>(() =>
    checkPasswordStrength(newPassword.value)
);

const vaildEmailRule: ValidationRule[] = [ruleIsEmail()];
const validOldPasswordRule: ValidationRule[] = [ruleNotEmptyInput()];
const validPasswordRule: ValidationRule[] = [(v) => rulePasswordStrength(v)];
const passwordsMatchRule: ValidationRule[] = [
    (v) =>
        ruleMatchingPasswords(newPassword.value, v) || "Passwords don't match.",
];

const getFontStyle = computed<string>(() =>
    getPasswordValidatorStyle(currentPasswordStrength.value)
);

const formIsValid = computed<boolean>(
    () =>
        modifiedUserData.name !== '' &&
        modifiedUserData.email !== '' &&
        modifiedUserData.password !== '' &&
        arePasswordFieldsValid()
);

// Functions
async function updateUserInformation(event: Event) {
    event.preventDefault();
    const updatedUser: AppUserPutDTO = {
        ...modifiedUserData,
        password: await hashPassword(modifiedUserData.password),
        newPassword: await hashPassword(newPassword.value),
    };

    const successfull = await userStore.put(updatedUser, currentUserData.id);

    if (successfull) {
        router.push(RouteParts.Products);
    }
}

async function getCurrentUserData(): Promise<AppUser> {
    // diable warning for no-non-null-assertion,
    // because this page can only be accessed if user !== null and user !== undefined
    // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
    const currentUserId = authStore.user!.id;
    const currentUserData = await userStore.getSingle(currentUserId);

    authStore.updateUser(currentUserData);

    return currentUserData;
}

function arePasswordFieldsValid(): boolean {
    if (newPassword.value !== '' && newPasswordCheck.value !== '') {
        return (
            rulePasswordStrength(newPassword.value) &&
            ruleMatchingPasswords(newPassword.value, newPasswordCheck.value)
        );
    } else {
        return true;
    }
}
</script>
<style>
.form-field {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-weight: 500;
    font-size: large;
}
</style>
