<template>
    <q-page class="row justify-center items-center">
        <div>
            <q-card class="my-card" v-if="showPage !== null">
                <q-card-section
                    class="card-style row justify-center items-center"
                    v-if="showPage"
                >
                    <span class="text-h1">Your account is now activated.</span>
                    <q-icon
                        class="valid-icon"
                        name="o_check_circle"
                        color="light-green"
                        size="80px"
                    />
                </q-card-section>

                <q-card-section
                    v-else
                    class="card-style row justify-center items-center"
                >
                    <span class="text-h1">Invalid token </span>
                    <q-icon
                        class="valid-icon"
                        name="o_cancel"
                        :color="Color.Cancel"
                        size="80px"
                    />
                </q-card-section>
                <q-space />

                <q-card-actions class="flex justify-center">
                    <q-btn
                        id="login-page-button"
                        :color="showPage ? 'light-green' : Color.Cancel"
                        :to="RouteParts.Login"
                        >Back to login</q-btn
                    >
                </q-card-actions>
            </q-card>
        </div>
    </q-page>
</template>
<script setup lang="ts">
import { RouteParts } from 'src/router/routes';
import { useAppUserActivationStore } from 'src/stores/app-user-activation-store';
import { Color } from 'src/utils/general-utils';
import { useRoute } from 'vue-router';
import { ref } from 'vue';

const activation_store = useAppUserActivationStore();
const route = useRoute();
const showPage = ref<boolean | null>(null);

check_token();

async function check_token() {
    const token = route.query.token;

    if (token === undefined || token === null) {
        showPage.value = false;
        return;
    }

    activation_store
        .activate(token.toString())
        .then(() => (showPage.value = true))
        .catch(() => (showPage.value = false));
}
</script>
<style>
.my-card {
    width: 800px;
    min-height: fit-content;
    text-align: center;
}
.space-height {
    height: 1rem;
}
</style>
