<template>
    <router-view v-slot="{ Component, route }">
        <!--
          when using router-view and suspense follow this nesting example.
            Official reference: https://vuejs.org/guide/built-ins/suspense.html#combining-with-other-components
            -->
        <template v-if="Component">
            <suspense-with-error>
                <template #error="props">
                    <div class="column">
                        <p class="col-12 text-center text-h4 text-red">
                            {{ props.error }}
                        </p>
                        <div class="column q-mx-auto">
                            <q-btn
                                label="Reload page"
                                :color="Color.Refresh"
                                :icon-right="matRefresh"
                                @click.stop="refreshPage"
                            ></q-btn>
                            <q-btn
                                label="Return to last page"
                                :color="Color.Back"
                                :icon="matArrowBack"
                                @click.stop="returnToLastPage"
                            ></q-btn>
                            <q-btn
                                label="Go to Home"
                                :color="Color.Continue"
                                :icon-right="matHome"
                                @click.stop="goToHomePage"
                            ></q-btn>
                        </div>
                    </div>
                </template>
                <template #fallback>
                    <p class="text-primary text-center text-h4">Loading...</p>
                    <div class="row justify-center">
                        <q-spinner color="primary" size="80px"></q-spinner>
                    </div>
                </template>
                <template #default>
                    <div>
                        <component
                            :is="Component"
                            :key="route.path"
                        ></component>
                    </div>
                </template>
            </suspense-with-error>
        </template>
    </router-view>
</template>

<script setup lang="ts">
import { Color } from 'src/utils/general-utils';
import {
    matArrowBack,
    matHome,
    matRefresh,
} from '@quasar/extras/material-icons';
import SuspenseWithError from './SuspenseWithError.vue';
import { Router, useRouter } from 'vue-router';
import { RouteParts } from 'src/router/routes';

const router = useRouter();

function returnToLastPage() {
    router.back();
    // router/index.ts afterEach clears error, because router.back can't be awaited and we would otherwise run into an error
}

async function goToHomePage() {
    await router.push(RouteParts.Root);
    // router/index.ts afterEach clears error, here we could have theoretically cleared the error ourselves after the await, but it is already handled by router/index.ts
}

async function refreshPage() {
    reload(router);
    // router/index.ts afterEach clears error, because router.go can't be awaited and we would otherwise run into an error
}

function reload(router: Router): void {
    router.go(0);
}
</script>
