<template>
  <q-page class="row justify-center">
    <div v-if="!emailConfigs">
      {{ emailConfigNotAvailableErrorToDisplay }}
    </div>
    <div
      v-else
      class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
    >
      <q-card class="col-9" flat bordered>
        <q-card-section class="text-center bg-primary">
          <span class="text-grey-3 text-h5">{{ pageTitle }}</span>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <mutate-email-config-modal
            @created-email-config="onCreatedEmailConfig"
          ></mutate-email-config-modal>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <q-expansion-item
            v-for="config in emailConfigs"
            :key="config.id"
            header-class="bg-grey-3 text-body1 text-secondary"
            :label="config.title"
          >
            <template v-slot:header>
              <div class="row items-center justify-between q-pa-xs">
                <q-item-label class="row text-left q-pl-md">
                  <span class="text-bold text-grey-8 q-mr-md">
                    {{ config.title }}
                  </span>
                  <mutate-email-config-modal
                    @updated-email-config="onEditedEmailConfig"
                    :email-config-to-update="config"
                  ></mutate-email-config-modal>
                  <q-btn
                    :icon-right="matDelete"
                    label="DELETE"
                    color="red"
                    text-color="white"
                    @click.stop="deleteEmailConfig(config)"
                  ></q-btn>
                </q-item-label>
              </div>
            </template>
            <div class="q-pa-md">
              <div class="text-grey-7" style="white-space: pre-wrap"><strong> Email: </strong>{{ config.email }}</div>
              <div class="text-grey-7" style="white-space: pre-wrap"><strong> SMTP: </strong>{{ config.smtpServer }}</div>
              <div class="text-grey-7" style="white-space: pre-wrap"><strong> Password: </strong>{{ config.appPassword }}</div>
            </div>
          </q-expansion-item>
          <q-item v-if="emailConfigs.length === 0">
            <q-item-label class="column justify-center text-left text-grey-7">
              No templates available ...
            </q-item-label>
          </q-item>
        </q-card-section>
        <q-separator></q-separator>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { matDelete } from '@quasar/extras/material-icons';
import { EmailConfig, useEmailConfigsStore } from 'src/stores/email-config-store';
import {
  QCard,
  QCardSection,
  QExpansionItem,
  QItem,
  QItemLabel,
  QPage,
  QSeparator,
  useQuasar,
} from 'quasar';
import { storeToRefs } from 'pinia';
import { notifyError } from '../utils/general-utils';
import MutateEmailConfigModal from 'src/components/MutateEmailConfigModal.vue';

const pageTitle = 'EMAIL CONFIGS';
const emailConfigNotAvailableErrorToDisplay = 'Email Configs not available...';

const emailConfigStore = useEmailConfigsStore();
const { emailConfigs } = storeToRefs(emailConfigStore);

const $q = useQuasar();

await fetchEmailConfigs();

async function fetchEmailConfigs() {
  await emailConfigStore.getAll();
}

async function onEditedEmailConfig() {
  try {
    await emailConfigStore.getAll();
  } catch (e: unknown) {
    notifyError('Failed fetching the updated email configs');
  }
}

async function onCreatedEmailConfig() {
  try {
    await emailConfigStore.getAll();
  } catch (e: unknown) {
    notifyError('Failed fetching the updated email configs');
  }
}

async function deleteEmailConfig(config: EmailConfig) {
    $q.dialog({
        title: 'Delete Product',
        message: 'Do you really want to delete this email config?',
        cancel: true,
        persistent: true,
    }).onOk(async () => {
        try {
            if (config !== null) {
                await emailConfigStore.delete(config.id);

                //TODO remove if updating works in a different way
                emailConfigs.value = emailConfigs.value.filter(
                  (emailConfig) => emailConfig.id !== config.id
                );
            } else {
                notifyError('You cannot delete this config!');
            }
        } catch (e: unknown) {}
    });

    await fetchEmailConfigs();

}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 350px;
}
</style>
