<template>
  <q-page class="row justify-center">
    <div v-if="!emailTemplates">
      {{ emailTemplatesNotAvailableErrorToDisplay }}
    </div>
    <div
      v-else
      class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
    >
      <q-card class="col-9" flat bordered>
        <q-card-section class="text-center bg-primary">
          <span class="text-grey-3 text-h5">{{ pageTitle }}</span>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <q-expansion-item
            v-for="template in emailTemplates"
            :key="template.id"
            header-class="bg-grey-3 text-body1 text-secondary"
            :label="template.name"
          >
            <template v-slot:header>
              <div class="row justify-between q-pa-xs">
                <q-item-label class="row text-left q-pl-md">
                  <span class="text-bold text-grey-8 q-mr-md">
                    {{ template.name }}
                  </span>
                  <mutate-email-template-modal
                    :custom-modal-button-label="overWriteMutateEmailButtonLabel"
                    :email-template-to-update="template"
                  ></mutate-email-template-modal>
                </q-item-label>
              </div>
            </template>
            <div class="q-pa-md">
              <span class="text-grey-7" style="white-space: pre-wrap">{{ template.content }}</span>
            </div>
          </q-expansion-item>
          <q-item v-if="emailTemplates.length === 0">
            <q-item-label class="column justify-center text-left text-grey-7">
              No templates available ...
            </q-item-label>
          </q-item>
        </q-card-section>
        <q-separator></q-separator>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import MutateEmailTemplateModal from 'src/components/MutateEmailTemplateModal.vue';
import {
  QCard,
  QCardSection,
  QExpansionItem,
  QItem,
  QItemLabel,
  QPage,
  QSeparator,
  useQuasar,
} from 'quasar';
import {
  notifyError,
  Color,
  parseSingleParamAndThrowOnErr,
  ButtonLabel,
  buildInformAdminMsg,
} from 'src/utils/general-utils';
import { EmailTemplate, useEmailTemplateStore } from 'src/stores/email-template-store';
import { storeToRefs } from 'pinia';

const overWriteMutateEmailButtonLabel = 'Edit';

const pageTitle = 'EMAIL TEMPLATE';
const emailTemplatesNotAvailableErrorToDisplay = 'Email templates not available...';

const emailTemplateStore = useEmailTemplateStore();
const { emailTemplates } = storeToRefs(emailTemplateStore);

await fetchEmailTemplates();

async function fetchEmailTemplates() {
  await emailTemplateStore.getAll();
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 350px;
}
</style>
