<template>
    <q-page class="row justify-center">
        <div
            v-if="
                singleProduct === null ||
                singleProductVersion === null ||
                singleProductVariant === null
            "
        >
            Error Product information not available...
        </div>
        <div
            v-else
            class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
        >
            <q-card>
                <q-card-section
                    class="text-h5 bg-primary text-white text-center"
                >
                    Execution
                </q-card-section>
                <q-separator></q-separator>
                <q-card-section>
                    <div class="row justify-between items-center">
                        <q-btn
                            disable
                            :color="Color.Back"
                            :label="ButtonLabel.Back"
                        ></q-btn>
                        <q-btn
                            class="q-ml-md"
                            :color="Color.Cancel"
                            :label="ButtonLabel.Cancel"
                            @click.stop="onCancelExecution"
                        ></q-btn>

                        <progress-bar
                            class="col q-mx-md"
                            color="primary"
                            :indicator-label="executionProgressTestCaseVisible"
                            :percentage="executionProgressTestCase"
                            tooltip="Test Cases"
                        ></progress-bar>
                        <progress-bar
                            class="col q-mx-md"
                            color="secondary"
                            :indicator-label="executionProgressTestStepVisible"
                            :percentage="executionProgressTestStep"
                            tooltip="Test Steps"
                        ></progress-bar>
                        <q-btn
                            @click.stop="onContinue"
                            :color="Color.Continue"
                            :label="ButtonLabel.Continue"
                        ></q-btn>
                    </div>
                </q-card-section>
                <q-separator></q-separator>
                <q-card-section horizontal>
                    <div class="col">
                        <q-card-section>
                            <div class="row">
                                <div class="col text-h6 text-secondary">
                                    {{ executionStepState }}:
                                    <span class="text-black">
                                        {{ stepTitelToDisplay }}
                                    </span>
                                </div>
                                <div v-if="isSummaryStep" class="col-3">
                                    <div class="text-bold">
                                        Test Case Evaluation
                                        <span class="text-red">*</span>
                                    </div>
                                    <q-select
                                        class="q-mt-sm"
                                        style="max-width: 200px"
                                        outlined
                                        bg-color="blue-grey-4"
                                        color="blue-grey-7"
                                        v-model="
                                            selectedSummaryStepExecutionStatus
                                        "
                                        :options="options"
                                        option-label="name"
                                        dense
                                    >
                                        <template #selected>
                                            <span class="text-white">
                                                {{
                                                    selectedSummaryStepExecutionStatus.name
                                                }}</span
                                            >
                                        </template>
                                    </q-select>
                                </div>
                            </div>
                        </q-card-section>
                        <template
                            v-if="
                                isTestSequenceExecutionStep ||
                                isTestCaseExecutionStep
                            "
                        >
                            <!--Description doesn't exist as of now-->
                            <q-card-section>
                                <div class="text-body1">
                                    <div class="text-bold">Description</div>
                                    <div class="text-grey-7 q-mt-sm">
                                        {{ currentDescriptionToDisplay }}
                                    </div>
                                </div>
                            </q-card-section>
                            <q-card-section class="text-body1">
                                <div class="row">
                                    <div class="col">
                                        <div class="text-bold">
                                            Precondition
                                        </div>
                                        <div
                                            class="text-grey-7 q-mt-sm col-md col-sm"
                                        >
                                            {{ currentPreconditionToDisplay }}
                                        </div>
                                    </div>
                                    <div
                                        v-if="doesPreconditionExist"
                                        class="q-ml-sm col-md-3 col-sm-4"
                                    >
                                        <div class="text-bold">
                                            Evaluation
                                            <span class="text-red">*</span>
                                        </div>
                                        <q-checkbox
                                            :disable="!doesPreconditionExist"
                                            class="q-mt-sm text-secondary"
                                            v-model="isPreconditionFulfilled"
                                            left-label
                                            label="Is the precondition fulfilled?"
                                            color="teal"
                                        />
                                    </div>
                                </div>
                            </q-card-section>
                        </template>
                        <template v-if="isTestStepExecutionStep">
                            <q-card-section class="text-body1">
                                <div class="row">
                                    <div class="col">
                                        <div class="text-bold">Instruction</div>
                                        <div class="text-grey-9 q-mt-sm">
                                            {{
                                                currentTestStep?.instruction ??
                                                'Error'
                                            }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-bold">
                                            Evaluation
                                            <span class="text-red">*</span>
                                        </div>
                                        <q-select
                                            class="q-mt-sm"
                                            style="max-width: 200px"
                                            outlined
                                            bg-color="blue-grey-4"
                                            color="blue-grey-7"
                                            v-model="
                                                selectedInstructionExecStatus
                                            "
                                            :options="options"
                                            option-label="name"
                                            dense
                                        >
                                            <template #selected>
                                                <span class="text-white">
                                                    {{
                                                        selectedInstructionExecStatus.name
                                                    }}</span
                                                >
                                            </template>
                                        </q-select>
                                    </div>
                                </div>
                            </q-card-section>
                            <q-separator></q-separator>
                            <q-card-section class="text-body1">
                                <div class="row">
                                    <div class="col">
                                        <div class="text-bold">
                                            Expected Result
                                        </div>
                                        <div class="text-grey-9 q-mt-sm">
                                            {{
                                                currentTestStep?.expectedResult ??
                                                'Error'
                                            }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-bold">
                                            Actual Result comment
                                        </div>
                                        <div class="text-grey-9 q-mt-sm">
                                            <q-input
                                                outlined
                                                v-model.trim="actualResult"
                                                type="textarea"
                                                label="Describe the results"
                                            ></q-input>
                                        </div>
                                    </div>
                                </div>
                            </q-card-section>
                        </template>
                        <template v-if="isSummaryStep">
                            <q-separator></q-separator>
                            <q-card-section>
                                <div class="text-bold">
                                    {{ summaryStepResultsTitle }}
                                </div>
                                <q-list separator bordered>
                                    <q-item
                                        class="items-center text-h6"
                                        v-for="[
                                            idx,
                                            step,
                                        ] in summaryStepsToDisplay.entries()"
                                        :key="step.id"
                                    >
                                        <span class="text-bold"
                                            >{{ idx + 1 }}.</span
                                        >
                                        <execution-status-icon
                                            class="q-ml-xs"
                                            :execution-status-name="
                                                step.status.name
                                            "
                                        ></execution-status-icon>
                                        <span class="text-primary q-ml-xs">{{
                                            step.name
                                        }}</span>
                                    </q-item>
                                </q-list>
                            </q-card-section>
                        </template>
                    </div>
                    <q-separator vertical></q-separator>
                    <div
                        v-if="
                            isTestSequenceExecutionStep ||
                            isTestCaseExecutionStep
                        "
                        class="col-3"
                    >
                        <q-card-section>
                            <!--Sidebar with EnvironmentInfos that stays over full execution-->
                            <div class="row justify-end">
                                <info-icon
                                    tooltip="Document specific information for your particular test execution (e.g. used equipment) as Execution-Labels. This is extremely useful for reproduction and regression testing."
                                ></info-icon>
                            </div>
                            <div
                                class="row justify-between text-h6 text-bold q-mt-md"
                            >
                                Execution Labels
                                <q-btn
                                    v-if="isTestSequenceExecutionStep"
                                    :disable="!isTestSequenceExecutionStep"
                                    square
                                    style="border-radius: 5px"
                                    :icon="matAdd"
                                    :color="Color.Create"
                                    @click.stop="openAddEnvironmentInfoModal"
                                ></q-btn>
                            </div>
                            <div class="q-mt-md">
                                <q-chip
                                    v-for="envInfoLabel in environmentInfoLabels"
                                    :key="envInfoLabel.id"
                                    :removable="isTestSequenceExecutionStep"
                                    @remove="
                                        onRemoveEnvironmentInfoLabel(
                                            envInfoLabel.id
                                        )
                                    "
                                    color="primary"
                                    text-color="white"
                                >
                                    {{ envInfoLabel.content }}
                                </q-chip>
                            </div>
                        </q-card-section>
                    </div>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { PathParams, QueryParams } from 'src/router/routes';
import { useProductStore } from 'src/stores/product-store';
import { useProductVariantStore } from 'src/stores/product-variant-store';
import { useProductVersionStore } from 'src/stores/product-version-store';
import { TestCase, useTestCaseStore } from 'src/stores/test-case-store';
import { useTestSequenceStore } from 'src/stores/test-sequence-store';
import {
    buildInformAdminMsg,
    ButtonLabel,
    Color,
    containsAll,
    notifyError,
    notifyInfo,
    parseMultipleParamAndThrowOnErr,
    parseSingleParamAndThrowOnErr,
} from 'src/utils/general-utils';
import { computed, ref } from 'vue';
import { onBeforeRouteLeave, useRoute, useRouter } from 'vue-router';
import ProgressBar from 'src/components/ProgressBar.vue';
import { matAdd } from '@quasar/extras/material-icons';
import InfoIcon from 'src/components/InfoIcon.vue';
import {
    TestSequenceExecution,
    TestSequenceExecutionPostDTO,
    TestSequenceExecutionPutDTO,
    useTestSequenceExecutionStore,
} from 'src/stores/test-sequence-execution-store';
import {
    ExecutionStatus,
    ExecutionStatusEnum,
    useExecutionStatusStore,
} from 'src/stores/execution-status-store';
import { TestStep, useTestStepStore } from 'src/stores/test-step-store';
import {
    TestCaseExecution,
    TestCaseExecutionPostDTO,
    TestCaseExecutionPutDTO,
    useTestCaseExecutionStore,
} from 'src/stores/test-case-execution-store';
import { err, ok, Result } from 'src/utils/result-utils';
import {
    TestStepExecution,
    TestStepExecutionPostDTO,
    useTestStepExecutionStore,
} from 'src/stores/test-step-execution-store';
import {
    EnvironmentInfo,
    useEnvironmentInfoStore,
} from 'src/stores/environment-info-store';
import { useQuasar } from 'quasar';
import ExecutionStatusIcon from 'src/components/ExecutionStatusIcon.vue';

// types
type ExecutionStepState =
    | 'Test Sequence'
    | 'Test Case'
    | 'Test Step'
    | 'Test Case Summary'
    | 'Test Sequence Summary';
type TestCaseId = TestCase['id'];

// setup and tear down
const ignoreWindowConfirmOnLeave = ref<boolean>(false);
onBeforeRouteLeave(async () => {
    if (ignoreWindowConfirmOnLeave.value) {
        return;
    }
    const answer = window.confirm(
        'Do you really want to leave?\nYour unsaved changes will be lost!'
    );
    if (!answer) {
        return false;
    }
    if (singleTestSequenceExecution.value === null) {
        notifyError('Unexpectedly no test sequence execution could be found!');
    } else {
        try {
            await testSequenceExecutionStore.delete(
                singleTestSequenceExecution.value.id
            );
            notifyInfo('Deleted Current Test Sequence Execution!');
        } catch (e: unknown) {
            notifyError('Failed deleting Current Test Sequence Execution!');
            //still allow leaving the route
        }
    }
});

// setup hooks
const router = useRouter();
const route = useRoute();

const productStore = useProductStore();
const { singleProduct } = storeToRefs(productStore);

const productVersionStore = useProductVersionStore();
const { singleProductVersion } = storeToRefs(productVersionStore);

const productVariantStore = useProductVariantStore();
const { singleProductVariant } = storeToRefs(productVariantStore);

const testSequenceStore = useTestSequenceStore();

const { singleTestSequence } = storeToRefs(testSequenceStore);

const testCaseStore = useTestCaseStore();

const testStepStore = useTestStepStore();

const executionStatusStore = useExecutionStatusStore();

const testSequenceExecutionStore = useTestSequenceExecutionStore();
const { singleTestSequenceExecution } = storeToRefs(testSequenceExecutionStore);

const testCaseExecutionStore = useTestCaseExecutionStore();
const { singleTestCaseExecution } = storeToRefs(testCaseExecutionStore);

const testStepExecutionStore = useTestStepExecutionStore();

const environmentInfoStore = useEnvironmentInfoStore();

// setup critical state

//TODO: use sequenceId from params
const testSequenceIdFromParam = parseSingleParamAndThrowOnErr(
    route.params[PathParams.TestSequenceId],
    PathParams.TestSequenceId
);

const testCaseIdsFromParams = parseMultipleParamAndThrowOnErr(
    route.query[QueryParams.TestCaseIds]
);
if (testCaseIdsFromParams.length === 0) {
    throw new Error('You cannot start an execution with zero Test Cases!');
}
const testCases = ref<TestCase[]>(
    await testCaseStore.getAll(testSequenceIdFromParam)
);

const allTestCasesExist = containsAll(
    testCaseIdsFromParams,
    testCases.value.map((v) => v.id)
);
if (!allTestCasesExist) {
    //TODO: throw error instead of router back?
    notifyError('The test cases to execute are not available!');
    notifyInfo('Returning to prior page!');
    router.back();
}

const testCasesToExecuteSorted = computed<TestCase[]>(() => {
    return testCases.value
        .filter((v) => testCaseIdsFromParams.includes(v.id))
        .sort((v) => v.testSequenceIndex);
});

//store TestSteps of TestCase with fast lookup via TestCaseId
//TODO: rethink directly adding all elements into an array and stepping through or
// alternatively nesting them testSeq: {..., cases: [ {..., steps: [] } ] }
const testStepsToExecuteSorted: Map<TestCaseId, TestStep[]> = new Map();

for (const tcId of testCaseIdsFromParams) {
    //TODO: can the promises be collected and then await Promise.all so they execute in parallel
    const sortedTestSteps = (await testStepStore.getAll(tcId)).sort(
        (v) => v.testCaseIndex
    );
    if (sortedTestSteps.length === 0) {
        const testCaseWithZeroSteps = testCases.value.find(
            (v) => v.id === tcId
        );
        if (testCaseWithZeroSteps === undefined) {
            throw new Error('Please contact the service administrator!');
        }
        throw new Error(
            `Test case '${testCaseWithZeroSteps.name}' with id '${testCaseWithZeroSteps.id}' does not have the required minimum of 1 test step!\nPlease add a test step before executing!`
        );
    }
    testStepsToExecuteSorted.set(tcId, sortedTestSteps);
}

//TODO: can be parallelized with other request because they are independend (Promise.all)
const executionStatuses = ref<ExecutionStatus[]>(
    await executionStatusStore.getAll()
);

const defaultExecutionStatus = ((): ExecutionStatus | never => {
    const foundExecutionStatus = executionStatuses.value.find(
        (v) => v.name === ExecutionStatusEnum.Untested
    );
    if (foundExecutionStatus === undefined) {
        throw new Error(
            buildInformAdminMsg(
                'Default Execution Status Untested could not be found!'
            )
        );
    }
    return foundExecutionStatus;
})();

const executionStepState = ref<ExecutionStepState>('Test Sequence');

const isTestSequenceExecutionStep = computed<boolean>(
    () => executionStepState.value === 'Test Sequence'
);
const isTestCaseExecutionStep = computed<boolean>(
    () => executionStepState.value === 'Test Case'
);
const isTestStepExecutionStep = computed<boolean>(
    () => executionStepState.value === 'Test Step'
);
const isTestCaseSummaryStep = computed<boolean>(
    () => executionStepState.value === 'Test Case Summary'
);
const isTestSequenceSummaryStep = computed<boolean>(
    () => executionStepState.value === 'Test Sequence Summary'
);
const isSummaryStep = computed(
    () => isTestCaseSummaryStep.value || isTestSequenceSummaryStep.value
);

const doesPreconditionExist = computed<boolean>(() => {
    return isTestSequenceExecutionStep.value
        ? !!singleTestSequence.value?.precondition
        : isTestCaseExecutionStep.value
        ? !!currentTestCase.value?.precondition
        : false;
});
const isPreconditionFulfilled = ref<boolean>(false);
const computedPreconditionFulfilledValue = computed<boolean>(() =>
    doesPreconditionExist.value ? isPreconditionFulfilled.value : true
);

//anonymous function that gets directly executed
const startedTestSequenceExecution = ref<TestSequenceExecution>(
    await (async () => {
        const newTestSequenceExecution: TestSequenceExecutionPostDTO = {
            preconditionFulfilled: computedPreconditionFulfilledValue.value,
            testSequenceId: testSequenceIdFromParam,
            testerId: null,
            executionStatusId: defaultExecutionStatus.id,
        };
        const createdTestSeqExecution = ref<TestSequenceExecution>(
            await testSequenceExecutionStore.post(newTestSequenceExecution)
        );
        notifyInfo('Successfully created test sequence execution.');
        //TODO: remove await from return
        return await testSequenceExecutionStore.getSingle(
            createdTestSeqExecution.value.id
        );
    })()
);
// setup uncritical state

const options = computed<ExecutionStatus[]>(() => executionStatuses.value);

//TODO: rethink -1 approach
//-1 because we start with testsequence and then increment on continue
const currentTestCaseIndex = ref<number>(-1);
const currentTestCase = computed<TestCase | null>(() => {
    if (currentTestCaseIndex.value > -1) {
        const testCaseResult = lookupTestCase(currentTestCaseIndex.value);
        if (testCaseResult.isErr) {
            notifyError(buildInformAdminMsg(testCaseResult.error));
            return null;
        }
        return testCaseResult.value;
    }
    return null;
});

const executionProgressTestCase = computed<number>(() =>
    diff(currentTestCaseIndex.value + 1, testCaseIdsFromParams.length)
);
const executionProgressTestCaseVisible = computed<string>(() =>
    diffStr(currentTestCaseIndex.value + 1, testCaseIdsFromParams.length)
);

const currentDescriptionToDisplay = computed<string>(() => {
    return isTestSequenceExecutionStep.value
        ? singleTestSequence.value?.description ?? 'No description...'
        : isTestCaseExecutionStep.value
        ? currentTestCase.value?.description ?? 'No description...'
        : 'Error';
});

const currentPreconditionToDisplay = computed<string>(() => {
    return isTestSequenceExecutionStep.value
        ? singleTestSequence.value?.precondition ?? 'No precondition...'
        : isTestCaseExecutionStep.value
        ? currentTestCase.value?.precondition ?? 'No precondition...'
        : 'Error';
});

const currentTestStepsOfTestCase = computed<TestStep[]>(() => {
    if (currentTestCase.value === null) {
        return [];
    }
    const testStepsResult = lookupTestStepsOfTestCaseById(
        currentTestCase.value.id
    );
    if (testStepsResult.isErr) {
        notifyError(buildInformAdminMsg(testStepsResult.error));
        return [];
    }
    return testStepsResult.value;
});

//-1 because we start with testcase and then increment on continue
const currentTestStepIndex = ref<number>(-1);

const currentTestStep = computed<TestStep | null>(() => {
    if (currentTestStepIndex.value <= -1) {
        return null;
    }
    const testStepResult = lookupTestStepByIdxs(
        currentTestCaseIndex.value,
        currentTestStepIndex.value
    );
    if (testStepResult.isErr) {
        notifyError(buildInformAdminMsg(testStepResult.error));
        return null;
    }
    return testStepResult.value;
});

const executionProgressTestStep = computed<number>(() => {
    const testStepsResult = lookupTestStepsOfTestCaseByIdx(
        currentTestCaseIndex.value
    );
    if (testStepsResult.isErr) {
        notifyError(
            `Please inform the service administrator! ${testStepsResult.error}`
        );
        return Number.MIN_SAFE_INTEGER;
    }
    return diff(currentTestStepIndex.value + 1, testStepsResult.value.length);
});

const executionProgressTestStepVisible = computed<string>(() => {
    const testStepsResult = lookupTestStepsOfTestCaseByIdx(
        currentTestCaseIndex.value
    );
    if (testStepsResult.isErr) {
        notifyError(
            `Please inform the service administrator! ${testStepsResult.error}`
        );
        return 'Error';
    }
    return diffStr(
        currentTestStepIndex.value + 1,
        testStepsResult.value.length
    );
});

const stepTitelToDisplay = computed<string>(() => {
    return isTestSequenceExecutionStep.value || isTestSequenceSummaryStep.value
        ? singleTestSequence.value?.name ?? 'Error'
        : isTestCaseExecutionStep.value || isTestCaseSummaryStep.value
        ? currentTestCase.value?.name ?? 'Error'
        : isTestStepExecutionStep.value
        ? String(currentTestStepIndex.value + 1)
        : 'Error';
});
//

const selectedInstructionExecStatus = ref<ExecutionStatus>(
    defaultExecutionStatus
);

//TODO: labels can only be added as of now when test seq execution was created which happens at continue
// so either we have to create a seq execution + its case executions on enter page => now we could add labels
// or we add all labels on continue?
const environmentInfoLabels = ref<EnvironmentInfo[]>(
    await environmentInfoStore.getAll({
        test_sequence_execution_id: startedTestSequenceExecution.value.id,
    })
);

// display summary
const summaryStepResultsTitle = computed(() => {
    const summaryOfStep = isTestCaseSummaryStep.value
        ? 'Test Case'
        : 'Test Sequence';
    return `${summaryOfStep} Results`;
});

const currentTestStepExecutions = ref<TestStepExecution[]>([]);
const currentTestCaseExecutions = ref<TestCaseExecution[]>([]);

type SummaryStep = { id: number; name: string; status: ExecutionStatus };
const summaryStepsToDisplay = computed<SummaryStep[]>(() => {
    const summarySteps: SummaryStep[] = [];
    if (isTestCaseSummaryStep.value) {
        if (
            currentTestStepsOfTestCase.value.length !==
            currentTestStepExecutions.value.length
        ) {
            notifyError(
                buildInformAdminMsg(
                    'Unexpectedly the amount of executions does not match the amount of executed test steps!'
                )
            );
            return [];
        }
        for (const step of currentTestStepsOfTestCase.value) {
            const foundTestStepExec = currentTestStepExecutions.value.find(
                (v) => v.testStepId === step.id
            );
            if (foundTestStepExec === undefined) {
                notifyError(
                    'Unexpectedly a test step could not be matched with its execution!'
                );
                return [];
            }
            const foundExecutionStatus = executionStatuses.value.find(
                (v) => v.id === foundTestStepExec.executionStatusId
            );
            if (foundExecutionStatus === undefined) {
                notifyError(
                    buildInformAdminMsg(
                        'Unexpectedly an execution contained an unknown execution status!'
                    )
                );
                return [];
            }
            summarySteps.push({
                id: step.id,
                name: step.instruction,
                status: foundExecutionStatus,
            });
        }
    } else if (isTestSequenceSummaryStep.value) {
        if (
            testCasesToExecuteSorted.value.length !==
            currentTestCaseExecutions.value.length
        ) {
            notifyError(
                buildInformAdminMsg(
                    'Unexpectedly the amount of executions does not match the amount of executed test cases!'
                )
            );
            return [];
        }
        for (const testCase of testCasesToExecuteSorted.value) {
            const foundTestCaseExec = currentTestCaseExecutions.value.find(
                (v) => v.testCaseId === testCase.id
            );
            if (foundTestCaseExec === undefined) {
                notifyError(
                    buildInformAdminMsg(
                        'Unexpectedly a test case could not be matched with its execution!'
                    )
                );
                return [];
            }
            const foundExecutionStatus = executionStatuses.value.find(
                (v) => v.id === foundTestCaseExec.executionStatusId
            );
            if (foundExecutionStatus === undefined) {
                notifyError(
                    buildInformAdminMsg(
                        'Unexpectedly an execution contained an unknown execution status!'
                    )
                );
                return [];
            }
            summarySteps.push({
                id: testCase.id,
                name: testCase.name,
                status: foundExecutionStatus,
            });
        }
    } else {
        return [];
    }
    return summarySteps;
});

// TEST STEP Execution

const actualResult = ref<string>('');

const selectedSummaryStepExecutionStatus = ref<ExecutionStatus>(
    defaultExecutionStatus
);

// functions

async function onContinue() {
    //TODO: on back clear singleTestCaseExecution or singleTestStepExecution in store!
    //TODO: addChecks for already existing execution => necessary after going back and forth!!! this will require loading Test Sequence Exec or Case or Step from BE?
    if (isTestSequenceExecutionStep.value) {
        return await continueTestSequenceExecutionStep();
    } else if (isTestCaseExecutionStep.value) {
        return await continueTestCaseExecutionStep();
    } else if (isTestStepExecutionStep.value) {
        return await continueTestStepExecutionStep();
    } else if (isTestCaseSummaryStep.value) {
        return await continueTestCaseSummaryStep();
    } else if (isTestSequenceSummaryStep.value) {
        return await continueTestSequenceSummaryStep();
    } else {
        notifyError('Unknown execution state reached!');
    }
}

async function continueTestSequenceSummaryStep() {
    if (singleTestSequenceExecution.value === null) {
        return notifyError(
            'Unexpectedly Test Sequence Execution could not be found!'
        );
    }
    const { testSequenceId, preconditionFulfilled, testerId } =
        singleTestSequenceExecution.value;
    const updateTestSeqExecution: TestSequenceExecutionPutDTO = {
        testSequenceId,
        preconditionFulfilled,
        executionStatusId: selectedSummaryStepExecutionStatus.value.id,
        testerId,
    };
    try {
        await testSequenceExecutionStore.put(
            updateTestSeqExecution,
            singleTestSequenceExecution.value.id
        );
        notifyInfo(
            'Ending TestSequence Execution and returning to prior page!'
        );
        ignoreWindowConfirmOnLeave.value = true;
        router.back();
    } catch (e: unknown) {}
}

async function continueTestCaseSummaryStep() {
    if (singleTestCaseExecution.value === null) {
        return notifyError(
            'Unexpectedly Test Case Execution could not be found!'
        );
    }
    const { testCaseId, preconditionFulfilled, testSequenceExecutionId } =
        singleTestCaseExecution.value;
    const updateTestCaseExecution: TestCaseExecutionPutDTO = {
        testCaseId,
        preconditionFulfilled,
        executionStatusId: selectedSummaryStepExecutionStatus.value.id,
        testSequenceExecutionId,
    };
    try {
        await testCaseExecutionStore.put(
            updateTestCaseExecution,
            singleTestCaseExecution.value.id
        );
        if (!doesNextTestCaseExist()) {
            if (singleTestSequenceExecution.value === null) {
                return notifyError(
                    'Unexpectedly Test Sequence Execution could not be found!'
                );
            }
            const currentTestSequenceExecution =
                singleTestSequenceExecution.value;
            const currentTestSeqExecStatus = executionStatuses.value.find(
                (v) => v.id === currentTestSequenceExecution.executionStatusId
            );
            if (currentTestSeqExecStatus === undefined) {
                return notifyError(buildInformAdminMsg(''));
            }
            try {
                currentTestCaseExecutions.value =
                    await testCaseExecutionStore.getAll({
                        test_sequence_execution_id:
                            currentTestSequenceExecution.id,
                    });
            } catch (e: unknown) {
                return notifyError(
                    'Cannot continue to Test Sequence Summary Step, because its Test Case Executions could not be retrieved!'
                );
            }
            selectedSummaryStepExecutionStatus.value = currentTestSeqExecStatus;
            executionStepState.value = 'Test Sequence Summary';
            return;
        }
        selectedInstructionExecStatus.value = defaultExecutionStatus;
        executionStepState.value = 'Test Case';
        currentTestCaseIndex.value++;
        currentTestStepIndex.value = -1;
    } catch (e: unknown) {}
}

async function continueTestStepExecutionStep() {
    if (singleTestCaseExecution.value === null) {
        return notifyError(
            'Unexpectedly no selected test case execution can be found!'
        );
    }
    const currentTestCaseExecution = singleTestCaseExecution.value;
    const testCaseRetrievedByIndex = lookupTestCase(currentTestCaseIndex.value);
    if (testCaseRetrievedByIndex.isErr) {
        return notifyError(buildInformAdminMsg(testCaseRetrievedByIndex.error));
    }
    const testStepsRetrievedById = lookupTestStepsOfTestCaseById(
        testCaseRetrievedByIndex.value.id
    );
    if (testStepsRetrievedById.isErr) {
        return notifyError(buildInformAdminMsg(testStepsRetrievedById.error));
    }
    const testStepRetrievedByIdx = lookupTestStepByIdx(
        testStepsRetrievedById.value,
        currentTestStepIndex.value
    );
    if (testStepRetrievedByIdx.isErr) {
        return notifyError(buildInformAdminMsg(testStepRetrievedByIdx.error));
    }
    const newTestStepExecution: TestStepExecutionPostDTO = {
        comment: actualResult.value,
        testCaseExecutionId: singleTestCaseExecution.value.id,
        testStepId: testStepRetrievedByIdx.value.id,
        executionStatusId: selectedInstructionExecStatus.value.id,
    };
    try {
        const createdTestStepExecution = await testStepExecutionStore.post(
            newTestStepExecution
        );
        await testStepExecutionStore.getSingle(createdTestStepExecution.id);
        const testStepsOfTestCase = lookupTestStepsOfTestCaseById(
            testCaseRetrievedByIndex.value.id
        );
        if (testStepsOfTestCase.isErr) {
            return notifyError(buildInformAdminMsg(testStepsOfTestCase.error));
        }

        if (!doesNextTestStepExist(testStepsRetrievedById.value)) {
            const currentTestCaseExecStatus = executionStatuses.value.find(
                (v) => v.id === currentTestCaseExecution.executionStatusId
            );
            if (currentTestCaseExecStatus === undefined) {
                return notifyError(buildInformAdminMsg(''));
            }
            try {
                currentTestStepExecutions.value =
                    await testStepExecutionStore.getAll({
                        test_case_execution_id: currentTestCaseExecution.id,
                    });
            } catch (e: unknown) {
                return notifyError(
                    'Cannot continue to Test Case Summary Step, because its Test Step Executions could not be retrieved!'
                );
            }
            selectedSummaryStepExecutionStatus.value =
                currentTestCaseExecStatus;
            executionStepState.value = 'Test Case Summary';
            return;
        } else {
            currentTestStepIndex.value++;
        }
        //reset step form
        selectedInstructionExecStatus.value = defaultExecutionStatus;
        actualResult.value = '';
    } catch (e: unknown) {}
}

async function continueTestCaseExecutionStep() {
    if (singleTestSequenceExecution.value === null) {
        return notifyError(
            'Unexpectedly no selected test sequence execution can be found!'
        );
    }
    const testCaseRetrievedByIndex = lookupTestCase(currentTestCaseIndex.value);
    if (testCaseRetrievedByIndex.isErr) {
        return notifyError(buildInformAdminMsg(testCaseRetrievedByIndex.error));
    }
    const newTestCaseExecution: TestCaseExecutionPostDTO = {
        preconditionFulfilled: computedPreconditionFulfilledValue.value,
        testSequenceExecutionId: singleTestSequenceExecution.value.id,
        testCaseId: testCaseRetrievedByIndex.value.id,
        executionStatusId: defaultExecutionStatus.id,
    };
    try {
        const createdTestCaseExecution = await testCaseExecutionStore.post(
            newTestCaseExecution
        );
        await testCaseExecutionStore.getSingle(createdTestCaseExecution.id);
        const testStepsOfTestCase = lookupTestStepsOfTestCaseById(
            testCaseRetrievedByIndex.value.id
        );
        if (testStepsOfTestCase.isErr) {
            return notifyError(buildInformAdminMsg(testStepsOfTestCase.error));
        }
        executionStepState.value = 'Test Step';
        currentTestStepIndex.value++;
        //reset case form
        isPreconditionFulfilled.value = false;
    } catch (e: unknown) {}
}

async function continueTestSequenceExecutionStep() {
    if (singleTestSequenceExecution.value === null) {
        return notifyError(
            buildInformAdminMsg(
                'Unexpectedly no test sequence execution could be found!'
            )
        );
    }
    const updateTestSequenceExecution: TestSequenceExecutionPutDTO = {
        preconditionFulfilled: computedPreconditionFulfilledValue.value,
        testSequenceId: singleTestSequenceExecution.value.testSequenceId,
        //TODO: when auth is implemented add anonymous toggle-input to TestSequenceSummary-View
        testerId: singleTestSequenceExecution.value.testerId,
        executionStatusId: singleTestSequenceExecution.value.executionStatusId,
    };
    try {
        const createdTestSeqExecution = await testSequenceExecutionStore.put(
            updateTestSequenceExecution,
            singleTestSequenceExecution.value.id
        );
        await testSequenceExecutionStore.getSingle(createdTestSeqExecution.id);

        executionStepState.value = 'Test Case';
        currentTestCaseIndex.value++;
        //reset sequence form
        isPreconditionFulfilled.value = false;
    } catch (e: unknown) {}
}

function doesNextTestCaseExist(): boolean {
    return (
        currentTestCaseIndex.value < testCasesToExecuteSorted.value.length - 1
    );
}

function doesNextTestStepExist(testSteps: TestStep[]): boolean {
    return currentTestStepIndex.value < testSteps.length - 1;
}

async function onRemoveEnvironmentInfoLabel(envInfoLabelId: number) {
    if (singleTestSequenceExecution.value === null) {
        return notifyError(
            buildInformAdminMsg(
                'Unexpectedly test sequence execution could not be found!'
            )
        );
    }
    try {
        await environmentInfoStore.delete(envInfoLabelId);
        environmentInfoLabels.value = await environmentInfoStore.getAll({
            test_sequence_execution_id: singleTestSequenceExecution.value.id,
        });
    } catch (e: unknown) {
        notifyError('Failed removing Environment Info Label!');
    }
}

// eslint-disable-next-line
async function onCancelExecution(): Promise<boolean | void> {
    //TODO: cleanup execution
    notifyInfo('implement onCancelExecution');
}

// eslint-disable-next-line
function onReturnToLastStepInExecution() {
    notifyInfo('implement onReturnToLastStepInExecution');
}

//idx => case
function lookupTestCase(idx: number): Result<TestCase> {
    const testCase = testCasesToExecuteSorted.value.at(idx);
    return testCase !== undefined
        ? ok(testCase)
        : err('Failed retrieving TestCase at idx!');
}

//idx => case -> id => steps
function lookupTestStepsOfTestCaseByIdx(
    testCaseIdx: number
): Result<TestStep[]> {
    const lookupTestCaseResult = lookupTestCase(testCaseIdx);
    if (lookupTestCaseResult.isErr) {
        return lookupTestCaseResult;
    }
    return lookupTestStepsOfTestCaseById(lookupTestCaseResult.value.id);
}

function lookupTestStepsOfTestCaseById(testCaseId: number): Result<TestStep[]> {
    const testStepsOfTestCaseId = testStepsToExecuteSorted.get(testCaseId);
    if (testStepsOfTestCaseId === undefined) {
        return err('Failed retrieving TestSteps of TestCaseId!');
    }
    return ok(testStepsOfTestCaseId);
}

function lookupTestStepByIdx(
    testSteps: TestStep[],
    testStepIdx: number
): Result<TestStep> {
    const testStep = testSteps.at(testStepIdx);
    if (testStep === undefined) {
        return err('Failed retrieving TestStep!');
    }
    return ok(testStep);
}

function lookupTestStepByIdxs(
    testCaseIdx: number,
    testStepIdx: number
): Result<TestStep> {
    const lookupTestSteps = lookupTestStepsOfTestCaseByIdx(testCaseIdx);
    if (lookupTestSteps.isErr) {
        return lookupTestSteps;
    }
    return lookupTestStepByIdx(lookupTestSteps.value, testStepIdx);
}

function diff(numerator: number, denominator: number): number {
    return numerator / denominator;
}

function diffStr(numerator: number, denominator: number): string {
    return `${numerator}/${denominator}`;
}

const addingEnvironmentInfoLabel = ref<boolean>(false);
const $q = useQuasar();
function openAddEnvironmentInfoModal() {
    $q.dialog({
        title: 'Add Environment Info Label',
        cancel: true,
        persistent: true,
        prompt: {
            model: '',
            type: 'text',
            rules: [
                (v: string) =>
                    v.trim().length > 0 || 'Enter at least one character',
            ],
        },
    }).onOk(async (value) => {
        addingEnvironmentInfoLabel.value = true;
        try {
            if (singleProduct.value !== null) {
                await environmentInfoStore.post({
                    testSequenceExecutionId:
                        startedTestSequenceExecution.value.id,
                    content: value,
                });
                notifyInfo('Successfully created execution label!');
                environmentInfoLabels.value = await environmentInfoStore.getAll(
                    {
                        test_sequence_execution_id:
                            startedTestSequenceExecution.value.id,
                    }
                );
            } else {
                notifyError('You cannot delete a product that is not loaded!');
            }
        } catch (e: unknown) {}
        addingEnvironmentInfoLabel.value = false;
    });
}
</script>
