<template>
    <q-page class="row justify-center">
        <div class="">
            <h2><u>Reset your password</u></h2>
            <form action="">
                <div id="email">
                    <label>Email</label>
                    <q-input
                        name="email-input"
                        type="email"
                        v-model.trim="email"
                        outlined
                        autocomplete="on"
                        lazy-rules
                        required
                    />
                </div>

                <q-space class="space-height" />
                <div id="button-container">
                    <q-btn
                        name="login-button"
                        type="button"
                        @click.stop="sendPasswordResetToken"
                        >Send Reset Link to my email</q-btn
                    >
                </div>
            </form>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { usePasswordResetStore } from 'src/stores/password-reset-store';
import { notifySuccess, notifyWarn } from '../utils/general-utils';

const passwordResetStore = usePasswordResetStore();
const email = ref<string>('');

async function sendPasswordResetToken() {
    try {
        await passwordResetStore.request_reset_token(email.value);
        notifySuccess('Reset Link has been sent to te provided email');
        email.value = '';
    } catch (e: unknown) {
        notifyWarn('Something went wront');
    }
}
</script>

<style style lang="scss">
h2 {
    text-align: center;
}
.space-height {
    height: 1rem;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#button-gap {
    width: 5rem;
}
</style>
