<template>
    <q-page class="row justify-center">
        <div class="">
            <h2><u>Login</u></h2>
            <form action="">
                <div id="email">
                    <label>Email</label>
                    <q-input
                        name="email-input"
                        type="email"
                        v-model.trim="email"
                        outlined
                        autocomplete="on"
                        lazy-rules
                        required
                    />
                </div>
                <q-space class="space-height" />
                <div id="password">
                    <label>Password</label>
                    <q-input
                        name="password-input"
                        v-model="password"
                        outlined
                        v-on:keyup.enter="loginUser"
                        autocomplete="on"
                        :type="isPwd ? 'password' : 'text'"
                    >
                        <template v-slot:append>
                            <q-icon
                                :name="isPwd ? 'visibility_off' : 'visibility'"
                                class="cursor-pointer"
                                @click="isPwd = !isPwd"
                            />
                        </template>
                    </q-input>
                </div>
                <div id="forgot-link">
                    <a :href="RouteParts.ForgotPassword">Forgot Password</a>
                </div>
                <q-space class="space-height" />
                <div id="button-container">
                    <q-btn
                        name="login-button"
                        type="button"
                        @click.stop="loginUser"
                        >Login</q-btn
                    >
                    <div id="button-gap"></div>
                    <q-btn
                        name="register-button"
                        type="button"
                        @click.stop="goTotoRegistration"
                    >
                        Register
                    </q-btn>
                </div>
            </form>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { QInput, QPage, QSpace } from 'quasar';
import { RouteParts, toProducts } from 'src/router/routes';
import { useAuthenticationStore } from 'src/stores/authentication-store';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const email = ref<string>('');
const password = ref<string>('');
const isPwd = ref<boolean>(true);

const router = useRouter();
const authStore = useAuthenticationStore();

async function loginUser() {
    authStore
        .loginUser(email.value, password.value)
        .then((loginStatus) => {
            if (loginStatus === true) {
                if (authStore.authenticationFail) {
                    authStore.authenticationFail = false;
                    router.push(authStore.lastPage);
                } else {
                    goToProductsPage();
                }
            }
        })
        .catch(() => (password.value = ''));
}

async function goToProductsPage() {
    await router.push(toProducts());
}

async function goTotoRegistration() {
    await router.push(RouteParts.Registration);
}
</script>

<style style lang="scss">
h2 {
    text-align: center;
}

a {
    color: grey;
}

.space-height {
    height: 1rem;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#button-gap {
    width: 5rem;
}

#forgot-link {
    display: flex;
    justify-content: right;
}
</style>
