<template>
    <q-page class="row justify-center">
        <div class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12">
            <q-card class="row">
                <q-card-section class="col-md-3 col-sm-6 col-xs-12">
                    <q-img
                        class="rounded-borders"
                        src="https://cdn.quasar.dev/img/parallax2.jpg"
                    />
                </q-card-section>
                <q-card-section class="col-md-9 col-sm-6 col-xs-12">
                    <div class="row justify-between">
                        <div class="row text-bold text-h6">
                            <span>{{ singleProduct.name }}</span>
                        </div>
                        <div class="text-h6 text-grey-8">
                            <q-badge
                                class="q-pa-sm"
                                rounded
                                color="grey-8"
                                text-color="white"
                            >
                                <span class="text-bold">Version:</span>
                                <span class="q-ml-xs">{{
                                    singleProductVersion ?? 'FIXME!'
                                }}</span>
                            </q-badge>
                            <q-badge
                                class="q-pa-sm q-ml-sm"
                                rounded
                                color="grey-6"
                                text-color="white"
                            >
                                <span class="text-bold">Variant:</span>
                                <span class="q-ml-xs">{{
                                    singleProductVariant ?? 'FIXME!'
                                }}</span>
                            </q-badge>
                            <q-badge
                                class="q-pa-sm q-ml-sm"
                                rounded
                                :color="Color.Info"
                            >
                                created
                                {{
                                    getRelativeDateDiff(singleProduct.createdAt)
                                }}
                                <q-tooltip>{{
                                    new Date(singleProduct.createdAt)
                                }}</q-tooltip>
                            </q-badge>
                        </div>
                    </div>
                    <div class="text-grey-9">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Dolorum voluptas eius est. Vel corporis voluptas
                        amet nesciunt blanditiis eos iste aliquam laboriosam,
                        commodi magni veniam vero, et temporibus quisquam
                        itaque!
                    </div>
                </q-card-section>
                <q-card-section class="col-12">
                    <q-tabs
                        v-model="selectedTab"
                        class="bg-white text-primary"
                        active-color="primary"
                        indicator-color="primary"
                        align="justify"
                        no-caps
                    >
                        <q-tab
                            :name="SelectableTabs.Dashboard"
                            :label="SelectableTabs.Dashboard"
                        />
                        <q-tab
                            :name="SelectableTabs.TestCases"
                            :label="SelectableTabs.TestCases"
                        />
                        <q-tab
                            :name="SelectableTabs.TestSequences"
                            :label="SelectableTabs.TestSequences"
                        />
                        <q-tab
                            :name="SelectableTabs.Protocols"
                            :label="SelectableTabs.Protocols"
                        />
                        <q-tab
                            disable
                            :name="SelectableTabs.Activities"
                            :label="SelectableTabs.Activities"
                        />
                        <q-tab
                            disable
                            :name="SelectableTabs.Members"
                            :label="SelectableTabs.Members"
                        />
                        <q-tab
                            :name="SelectableTabs.Settings"
                            :label="SelectableTabs.Settings"
                        />
                        <q-route-tab
                            :to="{ name: RouteName.Protocols }"
                            exact
                            replace
                            label="Navigate immediately"
                            @click="navPass"
                        />
                    </q-tabs>
                    <q-separator></q-separator>

                    <q-tab-panels
                        v-model="selectedTab"
                        animated
                        class="bg-grey-2 text-black"
                    >
                        <q-tab-panel :name="SelectableTabs.Dashboard">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ullam ab hic ad vel magnam nemo, repudiandae
                            explicabo at facilis! Molestiae placeat expedita
                            molestias accusantium. Quia suscipit quas
                            praesentium id temporibus!
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.TestCases">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Recusandae, repudiandae sed veniam assumenda
                            repellat aliquid repellendus obcaecati quam quasi ab
                            debitis similique mollitia ipsum sit soluta vitae
                            voluptatem corrupti accusamus!
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.TestSequences">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Corporis, explicabo, suscipit repellat aperiam
                            nam laboriosam a maiores aut officia, vel quia ea ex
                            aliquam sequi quos quis voluptates dolorum
                            similique!
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.Protocols">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Corporis, explicabo, suscipit repellat aperiam
                            nam laboriosam a maiores aut officia, vel quia ea ex
                            aliquam sequi quos quis voluptates dolorum
                            similique!
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.Activities">
                            <div class="text-red text-bold text-h5 text-center">
                                Not implemented yet!
                            </div>
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.Members">
                            <div class="text-red text-bold text-h5 text-center">
                                Not implemented yet!
                            </div>
                        </q-tab-panel>

                        <q-tab-panel :name="SelectableTabs.Settings">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Maiores, quo temporibus! Dicta cumque deserunt
                            similique aperiam doloribus nam commodi itaque et
                            facilis quos earum porro quaerat quod, nemo fuga
                            error?
                        </q-tab-panel>
                    </q-tab-panels>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import {
    QPage,
    QCard,
    QCardSection,
    QImg,
    QBadge,
    QTooltip,
    QTabs,
    QTab,
    QSeparator,
    QTabPanels,
    QTabPanel,
} from 'quasar';
import { PathParams, RouteName } from 'src/router/routes';
import { Product, useProductStore } from 'src/stores/product-store';
import { getRelativeDateDiff } from 'src/utils/date-utils';
import { Color, parseSingleParamAndThrowOnErr } from 'src/utils/general-utils';
import { ref } from 'vue';
import { useRoute } from 'vue-router';

//TODO: this page is a stub as of now

const route = useRoute();

function navPass() {
    //
    console.log(route);
    console.log(route.matched);
}

const productStore = useProductStore();

const parsedProductId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const singleProduct = ref<Product>(
    await productStore.getSingle(parsedProductId)
);
//FIXME: version and variant have to also be parsed from path, as of now they arent
const singleProductVersion = ref<null>(null);
const singleProductVariant = ref<null>(null);

enum SelectableTabs {
    Dashboard = 'Dashboard',
    Activities = 'Activities',
    TestCases = 'Test Cases',
    TestSequences = 'Test Sequences',
    Protocols = 'Protocols',
    Members = 'Members',
    Settings = 'Settings',
}

const selectedTab = ref<SelectableTabs>(SelectableTabs.Dashboard);
</script>

<style lang="scss">
.active-tab {
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: $grey-3;
    border-style: solid;
}

.inactive-tab {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 2px;
    border-color: $grey-3;
    border-style: solid;
}
</style>
