<template>
    <q-page class="row justify-center">
        <div v-if="!singleProduct">Error Product not available...</div>
        <div
            v-else
            class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
        >
            <div class="row">
                <q-card class="col-9" flat bordered>
                    <q-card-section class="text-center bg-primary">
                        <span class="text-grey-3 text-h5">PRODUCT</span>
                    </q-card-section>
                    <q-card-section horizontal class="items-start">
                        <q-card-section class="col-5">
                            <q-img
                                class="rounded-borders"
                                src="https://cdn.quasar.dev/img/parallax2.jpg"
                            />
                        </q-card-section>
                        <q-card-section class="col-7">
                            <q-card-actions class="justify-end">
                                <mutate-product-modal
                                    :product-to-update="singleProduct"
                                    @updated-product="onEditedProduct"
                                ></mutate-product-modal>
                                <q-btn
                                    :icon-right="matDelete"
                                    label="DELETE"
                                    color="red"
                                    text-color="white"
                                    @click.stop="deleteProduct"
                                ></q-btn>
                                <q-btn
                                    :color="Color.Open"
                                    :icon="matOpenInNew"
                                    :to="linkToAlternativeProductPage"
                                >
                                    <q-tooltip
                                        >Go to alternative Product Page -
                                        WIP</q-tooltip
                                    >
                                </q-btn>
                            </q-card-actions>
                        </q-card-section>
                    </q-card-section>
                    <q-card-section class="q-pt-xs row">
                        <div class="text-h4 text-primary col">
                            <span class="text-secondary">Name: </span>
                            <span class="text-black">{{
                                singleProduct.name
                            }}</span>
                            <visibility-chip
                                :is-public="singleProduct.isPublic"
                            />
                        </div>
                        <div class="column">
                            <div class="row items-end">
                                <q-badge :color="Color.Info">
                                    created
                                    {{
                                        getRelativeDateDiff(
                                            singleProduct.createdAt
                                        )
                                    }}
                                    <q-tooltip>{{
                                        new Date(singleProduct.createdAt)
                                    }}</q-tooltip>
                                </q-badge>
                            </div>
                        </div>
                    </q-card-section>
                    <q-separator></q-separator>
                    <q-card-section>
                        <q-expansion-item
                            header-class="bg-grey-3 text-body1 text-secondary"
                            v-model="expandDescription"
                            label="Description"
                        >
                            <q-card bordered>
                                <q-card-section class="q-pt-xs">
                                    <div class="text-grey-7">
                                        {{
                                            singleProduct.description ??
                                            'No description available...'
                                        }}
                                    </div>
                                </q-card-section>
                            </q-card>
                        </q-expansion-item>
                    </q-card-section>
                </q-card>
                <manage-version-and-variant
                    :product-id="parsedProductId"
                    class="col-3"
                >
                </manage-version-and-variant>
            </div>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { matDelete, matOpenInNew } from '@quasar/extras/material-icons';
import {
    QBadge,
    QBtn,
    QCard,
    QCardActions,
    QCardSection,
    QExpansionItem,
    QImg,
    QPage,
    QSeparator,
    QTooltip,
    useQuasar,
} from 'quasar';
import { Product, useProductStore } from 'src/stores/product-store';
import {
    notifyError,
    Color,
    parseSingleParamAndThrowOnErr,
} from 'src/utils/general-utils';
import { computed, ref } from 'vue';
import VisibilityChip from 'src/components/VisibilityChip.vue';
import { useRoute, useRouter } from 'vue-router';
import {
    PathParams,
    toAlternativeSingleProduct,
    toProducts,
} from 'src/router/routes';
import { getRelativeDateDiff } from 'src/utils/date-utils';
import MutateProductModal from 'src/components/MutateProductModal.vue';
import ManageVersionAndVariant from 'src/components/ManageVersionAndVariant.vue';
const productStore = useProductStore();

const expandDescription = ref(true);

const $q = useQuasar();
const router = useRouter();
const route = useRoute();

const parsedProductId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const singleProduct = ref<Product>(
    await productStore.getSingle(parsedProductId)
);

const linkToAlternativeProductPage = computed<string>(() =>
    toAlternativeSingleProduct(parsedProductId)
);

// functions

async function onEditedProduct(productId: number) {
    try {
        singleProduct.value = await productStore.getSingle(productId);
    } catch (e: unknown) {
        notifyError('Failed refetching updated Product!');
    }
}

function deleteProduct() {
    $q.dialog({
        title: 'Delete Product',
        message: 'Do you really want to delete this product?',
        cancel: true,
        persistent: true,
    }).onOk(async () => {
        try {
            if (singleProduct.value !== null) {
                await productStore.delete(singleProduct.value.id);
                await router.push(toProducts());
            } else {
                notifyError('You cannot delete a product that is not loaded!');
            }
        } catch (e: unknown) {}
    });
}
</script>

<style lang="scss" scoped>
.my-card {
    width: 100%;
    max-width: 350px;
}
</style>
