<template>
    <q-page class="row justify-center">
        <div class="q-pa-md col-md-8 col-sm-12 col-xs-12">
            <q-table
                :rows="products"
                :columns="columns"
                row-key="id"
                :filter="filter"
                :loading="fetchingProducts"
                no-data-label="No products found"
                no-results-label="The search didn't uncover any results"
                wrap-cells
                bordered
                class="sticky-virtscroll-table"
                :pagination="pagination"
                :rows-per-page-options="[0]"
                binary-state-sort
                style="height: 800px"
                virtual-scroll
                :virtual-scroll-sticky-size-start="48"
            >
                <template #top>
                    <q-toolbar class="table-title text-center q-pa-md">
                        <q-toolbar-title class="text-h5">
                            PRODUCTS
                        </q-toolbar-title>
                    </q-toolbar>
                    <mutate-product-modal
                        @created-product="onCreatedProduct"
                    ></mutate-product-modal>
                    <q-space />
                    <div class="q-pr-md">
                        <q-input
                            debounce="300"
                            color="secondary"
                            v-model.trim="filter"
                            label="Search..."
                            clearable
                            dense
                            outlined
                            class="bg-white"
                        >
                            <template #append>
                                <q-icon name="search" />
                            </template>
                        </q-input>
                    </div>
                </template>
                <template #header="props">
                    <q-tr :props="props">
                        <q-th
                            v-for="col in props.cols"
                            :key="col.name"
                            :props="props"
                            class="text-primary"
                            style="font-size: large"
                        >
                            {{ col.label }}
                        </q-th>
                    </q-tr>
                </template>
                <template #body="props">
                    <q-tr class="bg-white">
                        <q-td class="" style="padding: unset">
                            <q-item
                                clickable
                                v-ripple
                                :to="toSingleProduct(props.row.id)"
                            >
                                <q-item-section avatar>
                                    <q-avatar>
                                        <img
                                            :src="`icons/favicon-128x128.png`"
                                        />
                                    </q-avatar>
                                </q-item-section>

                                <q-item-section>
                                    <q-item-label>
                                        {{ props.row.name }}
                                        <visibility-chip
                                            :is-public="props.row.isPublic"
                                            mini
                                        />
                                    </q-item-label>

                                    <q-item-label caption lines="4">
                                        {{
                                            props.row.description ??
                                            'No description available...'
                                        }}
                                    </q-item-label>
                                </q-item-section>
                                <q-item-section side top>
                                    <q-badge :color="Color.Info">
                                        created
                                        {{
                                            getRelativeDateDiff(
                                                props.row.createdAt
                                            )
                                        }}
                                        <q-tooltip>{{
                                            new Date(props.row.createdAt)
                                        }}</q-tooltip>
                                    </q-badge>
                                </q-item-section>
                            </q-item>
                        </q-td>
                    </q-tr>
                </template>
                <template #loading>
                    <q-inner-loading showing color="primary" />
                </template>
                <template #no-data="{ message }">
                    <div
                        class="full-width row flex-center text-white q-gutter-sm"
                    >
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>{{ message }}</span>
                    </div>
                </template>
            </q-table>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import MutateProductModal from '../components/MutateProductModal.vue';
import {
    QAvatar,
    QBadge,
    QIcon,
    QInnerLoading,
    QInput,
    QItem,
    QItemLabel,
    QItemSection,
    QPage,
    QSpace,
    QTable,
    QTableColumn,
    QTableProps,
    QTd,
    QTooltip,
    QTr,
} from 'quasar';
import { onMounted, ref } from 'vue';
import { Product, useProductStore } from 'src/stores/product-store';
import { getRelativeDateDiff } from '../utils/date-utils';
import { storeToRefs } from 'pinia';
import { Color } from '../utils/general-utils';
import { toSingleProduct } from 'src/router/routes';
import VisibilityChip from 'src/components/VisibilityChip.vue';

const productStore = useProductStore();
//if we want to destructure reactive store properties inside our component, we can use storeToRefs to make them reactive
//alternatively we can use `const products = computed(() => <store-name>.<state-name>)` for single reactive state;
const { products } = storeToRefs(productStore);

const pagination = ref<QTableProps['pagination']>({
    rowsPerPage: 0,
    descending: false,
    sortBy: 'name',
});

const columns: QTableColumn[] = [
    {
        name: 'name',
        required: true,
        label: 'name',
        align: 'left',
        field: (row: { name: string }) => row.name,
        format: (val: Product) => `${val}`,
        classes: 'primary',
        sortable: true,
    },
];

const fetchingProducts = ref(false);

const filter = ref('');

// functions

async function onCreatedProduct() {
    fetchingProducts.value = true;
    try {
        await productStore.getAll();
    } catch (e: unknown) {}
    fetchingProducts.value = false;
}

// setup + teardown

onMounted(async () => {
    fetchingProducts.value = true;
    await productStore.getAll();
    fetchingProducts.value = false;
});
</script>
