<template>
    <q-page class="row justify-center">
        <div class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12">
            <q-card class="col-9" flat bordered>
                <q-card-section class="text-center bg-primary">
                    <p class="text-grey-3 text-h5">{{ pageTitle }}</p>
                </q-card-section>
                <q-card-section>
                    <q-card-actions class="justify-between items-between">
                        <q-btn
                            :icon="matArrowBack"
                            :label="ButtonLabel.Back"
                            :color="Color.Back"
                            text-color="white"
                            @click.stop="goToExecutionProtocolsOfVariant"
                        >
                        </q-btn>
                    </q-card-actions>
                </q-card-section>
                <q-separator></q-separator>
                <q-card-section horizontal>
                    <div class="col">
                        <q-card-section class="q-pt-xs">
                            <div class="text-h4">
                                <execution-status-icon
                                    :execution-status-name="
                                        fullSeqWithExecsAndChildren.seqExecStatus
                                    "
                                ></execution-status-icon>
                                <span class="q-ml-sm text-black">{{
                                    fullSeqWithExecsAndChildren.seq.name
                                }}</span>
                            </div>
                        </q-card-section>
                        <q-card-section class="text-body1">
                            <div class="text-bold text-secondary">
                                Description
                            </div>
                            <div class="text-grey-7 q-mt-xs">
                                {{
                                    fullSeqWithExecsAndChildren.seq
                                        .description ??
                                    'No description available...'
                                }}
                            </div>
                        </q-card-section>
                        <q-separator></q-separator>
                        <q-card-section>
                            <q-expansion-item
                                header-class="bg-grey-3 text-secondary text-bold"
                                default-opened
                                label="Test Sequence Precondition"
                            >
                                <q-card bordered>
                                    <q-card-section class="q-pt-xs text-grey-7">
                                        <span class="text-bold text-secondary"
                                            >Result:</span
                                        >
                                        <span class="text-bold text-black">
                                            ({{
                                                fullSeqWithExecsAndChildren
                                                    .seqExec
                                                    .preconditionFulfilled
                                                    ? 'Fulfilled'
                                                    : 'Not fulfilled'
                                            }})
                                        </span>
                                        <p>
                                            {{
                                                fullSeqWithExecsAndChildren.seq
                                                    .precondition ??
                                                'No precondition available...'
                                            }}
                                        </p>
                                    </q-card-section>
                                </q-card>
                            </q-expansion-item>
                        </q-card-section>
                        <q-separator></q-separator>
                        <q-card-section
                            class="row"
                            style="padding-bottom: unset"
                        >
                            <div class="text-bold text-secondary">
                                Results of Test Cases
                            </div>
                        </q-card-section>
                        <q-card-section>
                            <q-list bordered separator class="menu-list">
                                <template
                                    v-if="
                                        fullSeqWithExecsAndChildren
                                            .casesWithSteps.length !== 0
                                    "
                                >
                                    <q-list
                                        v-for="caseWithSteps in fullSeqWithExecsAndChildren.casesWithSteps"
                                        :key="caseWithSteps.caseExec.id"
                                        bordered
                                    >
                                        <q-expansion-item
                                            :switch-toggle-side="false"
                                            header-class="bg-grey-3 text-secondary text-bold"
                                        >
                                            <template #header>
                                                <div class="row items-center">
                                                    <execution-status-icon
                                                        :execution-status-name="
                                                            caseWithSteps.caseExecStatus
                                                        "
                                                    ></execution-status-icon>
                                                    <span class="q-ml-sm">{{
                                                        caseWithSteps.case.name
                                                    }}</span>
                                                </div>
                                                <q-space></q-space>
                                            </template>
                                            <div class="q-ma-sm">
                                                <span
                                                    class="text-bold text-black"
                                                >
                                                    <span class="text-secondary"
                                                        >Precondition
                                                        Result:</span
                                                    >
                                                    <span class="q-ml-sm">
                                                        ({{
                                                            fullSeqWithExecsAndChildren
                                                                .seqExec
                                                                .preconditionFulfilled
                                                                ? 'Fulfilled'
                                                                : 'Not fulfilled'
                                                        }})
                                                    </span>
                                                </span>
                                                <p class="text-grey-8">
                                                    {{
                                                        caseWithSteps.case
                                                            .precondition ??
                                                        'No precondition available...'
                                                    }}
                                                </p>
                                            </div>
                                            <div class="q-ma-sm">
                                                <p
                                                    class="text-secondary text-bold"
                                                >
                                                    Results of Test Steps:
                                                </p>
                                            </div>
                                            <q-list
                                                bordered
                                                padding
                                                v-for="stepWithExec in caseWithSteps.stepsWithExecs"
                                                :key="stepWithExec.stepExec.id"
                                            >
                                                <div class="q-px-md row">
                                                    <div class="col">
                                                        <execution-status-icon
                                                            size="xs"
                                                            :execution-status-name="
                                                                stepWithExec.stepExecStatus
                                                            "
                                                        ></execution-status-icon>
                                                        <span class="q-ml-sm">{{
                                                            stepWithExec.step
                                                                .instruction
                                                        }}</span>
                                                    </div>
                                                    <p
                                                        v-if="
                                                            stepWithExec
                                                                .stepExec
                                                                .comment
                                                        "
                                                        class="col justify-left text-grey-7"
                                                    >
                                                        <span class="text-bold"
                                                            >Comment:
                                                        </span>
                                                        {{
                                                            stepWithExec
                                                                .stepExec
                                                                .comment ??
                                                            'none'
                                                        }}
                                                    </p>
                                                </div>
                                            </q-list>
                                        </q-expansion-item>
                                    </q-list>
                                </template>
                                <q-item v-else>
                                    <q-item-label
                                        class="column justify-center text-left text-grey-7"
                                    >
                                        No test steps available...
                                    </q-item-label>
                                </q-item>
                            </q-list>
                        </q-card-section>
                    </div>
                    <q-separator vertical></q-separator>
                    <div class="col-3">
                        <q-card-section>
                            <p class="text-bold">Execution date</p>
                            <p class="text-grey-9">
                                {{ seqExecutionDateLocaleString }}
                            </p>
                        </q-card-section>
                        <q-card-section>
                            <p class="text-bold">Tester</p>
                            <p class="text-grey-9">
                                {{
                                    fullSeqWithExecsAndChildren.seqExec
                                        .testerId ?? 'anonymous'
                                }}
                            </p>
                        </q-card-section>
                        <q-card-section>
                            <p class="text-bold">Execution Labels</p>
                            <div class="q-mt-md">
                                <q-chip
                                    v-for="envInfoLabel in environmentInfos"
                                    :key="envInfoLabel.id"
                                    color="primary"
                                    text-color="white"
                                >
                                    {{ envInfoLabel.content }}
                                </q-chip>
                            </div>
                        </q-card-section>
                    </div>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardActions,
    QCardSection,
    QExpansionItem,
    QItem,
    QItemLabel,
    QList,
    QPage,
    QSeparator,
} from 'quasar';
import {
    Color,
    parseSingleParamAndThrowOnErr,
    ButtonLabel,
    getFullOverlapFromSecondOrThrow,
} from 'src/utils/general-utils';
import { computed, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { PathParams, toExecutionProtocolsOfVariant } from 'src/router/routes';
import { TestCase, useTestCaseStore } from 'src/stores/test-case-store';
import { matArrowBack } from '@quasar/extras/material-icons';
import {
    TestSequence,
    useTestSequenceStore,
} from 'src/stores/test-sequence-store';
import { TestStep, useTestStepStore } from 'src/stores/test-step-store';
import {
    ExecutionStatus,
    ExecutionStatusEnum,
    useExecutionStatusStore,
} from 'src/stores/execution-status-store';
import {
    TestSequenceExecution,
    useTestSequenceExecutionStore,
} from 'src/stores/test-sequence-execution-store';
import {
    TestCaseExecution,
    useTestCaseExecutionStore,
} from 'src/stores/test-case-execution-store';
import {
    TestStepExecution,
    useTestStepExecutionStore,
} from 'src/stores/test-step-execution-store';
import { err, ok, Result } from 'src/utils/result-utils';
import ExecutionStatusIcon from 'src/components/ExecutionStatusIcon.vue';
import {
    EnvironmentInfo,
    useEnvironmentInfoStore,
} from 'src/stores/environment-info-store';
//types

interface StepWithExec {
    step: TestStep;
    stepExec: TestStepExecution;
    stepExecStatus: ExecutionStatusEnum;
}

interface CaseWithStepsAndExec {
    case: TestCase;
    caseExec: TestCaseExecution;
    caseExecStatus: ExecutionStatusEnum;
    stepsWithExecs: StepWithExec[];
}

interface FullTestSequenceWithExecs {
    seq: TestSequence;
    seqExec: TestSequenceExecution;
    seqExecStatus: ExecutionStatusEnum;
    casesWithSteps: CaseWithStepsAndExec[];
}

type CaseAndExec = Omit<CaseWithStepsAndExec, 'stepsWithExecs'>;

// variables

const pageTitle = 'Test Sequence Protocol';

// hooks

const testSequenceStore = useTestSequenceStore();
const testCaseStore = useTestCaseStore();
const testStepStore = useTestStepStore();

const testSequenceExecutionStore = useTestSequenceExecutionStore();
const testCaseExecutionStore = useTestCaseExecutionStore();
const testStepExecutionStore = useTestStepExecutionStore();

const executionStatusStore = useExecutionStatusStore();
const environmentInfoStore = useEnvironmentInfoStore();

const router = useRouter();
const route = useRoute();

// initialization

const productId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const versionId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VersionId],
    PathParams.VersionId
);
const variantId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VariantId],
    PathParams.VariantId
);
const testSequenceId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.TestSequenceId],
    PathParams.TestSequenceId
);
const testSequenceExecId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.TestSequenceExecutionId],
    PathParams.TestSequenceExecutionId
);

const executionStatuses = await executionStatusStore.getAll();

const environmentInfos = ref<EnvironmentInfo[]>(
    await environmentInfoStore.getAll({
        test_sequence_execution_id: testSequenceExecId,
    })
);
const fullSeqWithExecsAndChildren = ref<FullTestSequenceWithExecs>(
    await fetchTestSeqWithExecAndChildren()
);

const seqExecutionDateLocaleString = computed<string>(() =>
    new Date(
        fullSeqWithExecsAndChildren.value.seqExec.updatedAt
    ).toLocaleString()
);

//functions

function goToExecutionProtocolsOfVariant() {
    router.push(toExecutionProtocolsOfVariant(productId, versionId, variantId));
}

function findExecStatus(
    execStatuses: ExecutionStatus[],
    typeWithExecStatus: { executionStatusId: number }
): Result<ExecutionStatus> {
    const foundNeedle = execStatuses.find(
        (v) => v.id === typeWithExecStatus.executionStatusId
    );
    return foundNeedle === undefined
        ? err(
              `Failed to find ExecutionStatus with id '${typeWithExecStatus.executionStatusId}'`
          )
        : ok(foundNeedle);
}

//mapping functions

async function fetchTestSeqWithExecAndChildren(): Promise<FullTestSequenceWithExecs> {
    const seq = await testSequenceStore.getSingle(testSequenceId);
    const seqExec = await testSequenceExecutionStore.getSingle(
        testSequenceExecId
    );
    const seqExecStatus = findExecStatus(executionStatuses, seqExec).unwrap();

    const caseExecsOfSeqExec = await testCaseExecutionStore.getAll({
        test_sequence_execution_id: seqExec.id,
    });
    const mapTcWithExec = buildMapTcWithExec(caseExecsOfSeqExec);

    const testCasesWithStepsAndExecs: CaseWithStepsAndExec[] =
        await Promise.all(
            getFullOverlapFromSecondOrThrow(
                caseExecsOfSeqExec,
                (el) => el.testCaseId,
                await testCaseStore.getAll(seq.id),
                (el) => el.id
            )
                .map(mapTcWithExec)
                .sort(
                    (a, b) =>
                        a.case.testSequenceIndex - b.case.testSequenceIndex
                )
                .map(mapCaseWithStepsAndExec)
        );

    return {
        seq,
        seqExec,
        seqExecStatus: seqExecStatus.name,
        casesWithSteps: testCasesWithStepsAndExecs,
    };
}

//hand testCaseExecutions into this function on call and it will return a mapping-Function that uses these testCaseExecutions
function buildMapTcWithExec(
    testCaseExecutions: TestCaseExecution[]
): (testCase: TestCase, index: number, array: TestCase[]) => CaseAndExec {
    return (testCase: TestCase, _index: number, _array: TestCase[]) => {
        const caseExec = testCaseExecutions.find(
            (v) => v.testCaseId === testCase.id
        );
        if (caseExec === undefined) {
            throw new Error(
                `Unexpectedly no matching Test Case Execution can be found for Test Case '${testCase.name}'`
            );
        }
        const tcExecStatus = findExecStatus(
            executionStatuses,
            caseExec
        ).unwrap();
        return { case: testCase, caseExec, caseExecStatus: tcExecStatus.name };
    };
}

//
async function mapCaseWithStepsAndExec(
    tcWithExec: CaseAndExec,
    _index: number,
    _array: CaseAndExec[]
): Promise<CaseWithStepsAndExec> {
    const stepExecsOfCase = await testStepExecutionStore.getAll({
        test_case_execution_id: tcWithExec.caseExec.id,
    });
    const testStepsAndExecs: StepWithExec[] = getFullOverlapFromSecondOrThrow(
        stepExecsOfCase,
        (el) => el.testStepId,
        await testStepStore.getAll(tcWithExec.case.id),
        (el) => el.id
    )
        .map((overlappedStep) => {
            const stepExec = stepExecsOfCase.find(
                (v) => v.testStepId === overlappedStep.id
            );
            if (stepExec === undefined) {
                throw new Error(
                    `Unexpectedly no matching Test Step Execution can be found for Test Step '${overlappedStep.instruction}'`
                );
            }
            const tsExecStatus = findExecStatus(
                executionStatuses,
                stepExec
            ).unwrap();

            return {
                step: overlappedStep,
                stepExec,
                stepExecStatus: tsExecStatus.name,
            };
        })
        .sort((a, b) => a.step.testCaseIndex - b.step.testCaseIndex);

    return {
        ...tcWithExec,
        stepsWithExecs: testStepsAndExecs,
    };
}
</script>

<style scoped>
p {
    margin: 0;
    padding: 0;
}
</style>
