<template>
    <q-page class="row justify-center">
        <div class="q-pa-md col-md-8 col-sm-12 col-xs-12">
            <q-table
                :rows="preFilteredRowsByExecStatus"
                :columns="columns"
                :row-key="uniqueRowKeyForTable"
                :filter="filter"
                @row-click.stop="navigateTo"
                no-data-label="No entries found"
                no-results-label="The search didn't uncover any results"
                wrap-cells
                bordered
                class="sticky-virtscroll-table"
                :pagination="pagination"
                :rows-per-page-options="[0]"
                binary-state-sort
                style="height: 800px"
                virtual-scroll
                :virtual-scroll-sticky-size-start="48"
            >
                <template #top>
                    <q-toolbar class="table-title text-center q-pa-md">
                        <q-toolbar-title class="text-h5">
                            Protocols
                        </q-toolbar-title>
                    </q-toolbar>
                    <div class="q-mt-md">
                        <q-btn
                            class="q-ml-md"
                            :icon="matArrowBack"
                            :label="ButtonLabel.Back"
                            :color="Color.Back"
                            text-color="white"
                            @click.stop="goBackToTestSequences"
                        >
                        </q-btn>
                    </div>
                    <div class="q-pa-md row full-width justify-end">
                        <div class="col text-grey-7">
                            <q-option-group
                                inline
                                v-model="filterByExecStatusGroup"
                                :options="filterByExecStatusOptions"
                                type="checkbox"
                            />
                        </div>
                        <div>
                            <q-input
                                debounce="300"
                                color="secondary"
                                v-model.trim="filter"
                                label="Search..."
                                clearable
                                dense
                                outlined
                                class="bg-white"
                            >
                                <template #append>
                                    <q-icon name="search" />
                                </template>
                            </q-input>
                        </div>
                    </div>
                </template>
                <template #header="props">
                    <q-tr :props="props">
                        <q-th
                            v-for="col in props.cols"
                            :key="col.name"
                            :props="props"
                            class="text-primary"
                            style="font-size: large"
                        >
                            {{ col.label }}
                        </q-th>
                    </q-tr>
                </template>
                <!--body-cell-XXCOLUMN_TO_CUSTOMIZE_NAMEXX-->
                <template #body-cell-result="props">
                    <q-td :props="props">
                        <execution-status-icon
                            :execution-status-name="props.row.execStatus"
                        ></execution-status-icon>
                    </q-td>
                </template>
                <template #body-cell-date="props">
                    <q-td :props="props">
                        {{ props.value }}
                        <q-tooltip>{{ props.row.exec.updatedAt }}</q-tooltip>
                    </q-td>
                </template>
                <template #loading>
                    <q-inner-loading showing color="primary" />
                </template>
                <template #no-data="{ message }">
                    <div
                        class="full-width row flex-center text-white q-gutter-sm"
                    >
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>{{ message }}</span>
                    </div>
                </template>
            </q-table>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { QTableProps, QTableColumn } from 'quasar';
import {
    PathParams,
    toSingleExecutionProtocol,
    toTestSequencesOfVariant,
} from 'src/router/routes';
import {
    TestSequenceExecution,
    useTestSequenceExecutionStore,
} from 'src/stores/test-sequence-execution-store';
import {
    TestSequence,
    useTestSequenceStore,
} from 'src/stores/test-sequence-store';
import {
    buildInformAdminMsg,
    getExecutionStatusIcon,
    parseSingleParamAndThrowOnErr,
    ButtonLabel,
    Color,
} from 'src/utils/general-utils';
import { getRelativeDateDiffFromDate } from 'src/utils/date-utils';
import { computed, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import {
    ExecutionStatusEnum,
    useExecutionStatusStore,
} from 'src/stores/execution-status-store';
import ExecutionStatusIcon from 'src/components/ExecutionStatusIcon.vue';
import { matArrowBack } from '@quasar/extras/material-icons';

const router = useRouter();
const route = useRoute();

const testSequenceExecutionStore = useTestSequenceExecutionStore();
const testSequenceStore = useTestSequenceStore();
const executionStatusStore = useExecutionStatusStore();

const executionStatuses = await executionStatusStore.getAll();

const productId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const versionId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VersionId],
    PathParams.VersionId
);
const variantId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VariantId],
    PathParams.VariantId
);
const fetchedTestSequences = ref<TestSequence[]>(
    await testSequenceStore.getAll(variantId)
);
type SequenceWithExecutionRow = Pick<TestSequence, 'id' | 'name'> & {
    exec: TestSequenceExecution;
    execStatus: ExecutionStatusEnum;
};

const executionsWithSequenceInfo = ref<SequenceWithExecutionRow[]>(
    await (async () => {
        const combined = [];
        for (const sequence of fetchedTestSequences.value) {
            const executionsOfSequence =
                await testSequenceExecutionStore.getAll({
                    test_sequence_id: sequence.id,
                });
            for (const exec of executionsOfSequence) {
                const execStatus = executionStatuses.find(
                    (v) => v.id === exec.executionStatusId
                );
                if (execStatus === undefined) {
                    throw new Error(
                        buildInformAdminMsg(
                            'Unexpectedly an entry contained an executionStatusId that cannot be found!'
                        )
                    );
                }
                combined.push({
                    id: sequence.id,
                    name: sequence.name,
                    exec,
                    execStatus: execStatus.name,
                });
            }
        }
        return combined;
    })()
);

const pagination = ref<QTableProps['pagination']>({
    rowsPerPage: 0,
    descending: false,
    sortBy: 'name',
});

//TODO: need to merge test case and execution and so on
const baseColumn: Omit<QTableColumn, 'name' | 'label' | 'field'> = {
    required: true,
    align: 'left',
    format: (val: SequenceWithExecutionRow) => `${val}`,
    classes: 'primary',
    sortable: true,
};
const columns: QTableColumn[] = [
    {
        ...baseColumn,
        name: 'result',
        label: 'Result',
        field: (row: SequenceWithExecutionRow) => row.exec.executionStatusId,
    },
    {
        ...baseColumn,
        name: 'test',
        label: 'Test',
        field: (row: SequenceWithExecutionRow) => row.name,
    },
    {
        ...baseColumn,
        name: 'tester',
        label: 'Tester',
        //TODO: fetch user??
        field: (row: SequenceWithExecutionRow) =>
            row.exec.testerId?.toString() ?? 'anonymous',
    },
    {
        ...baseColumn,
        name: 'date',
        label: 'Date',
        sort: sortDateFunction,
        //pick field
        field: (row: SequenceWithExecutionRow) => new Date(row.exec.updatedAt),
        //format picked field
        format: (val: Date) => getRelativeDateDiffFromDate(val),
    },
];

function sortDateFunction(date1: Date, date2: Date) {
    return date1.getTime() - date2.getTime();
}

const filter = ref<string | null>(null);

type OptionType = { label: string; value: ExecutionStatusEnum; color: string };
type OptionValueType = OptionType['value'];

function uniqueRowKeyForTable(row: SequenceWithExecutionRow): number {
    return row.exec.id;
}

const filterByExecStatusOptions = ref<OptionType[]>(
    executionStatuses.map((v) => {
        return {
            label: v.name,
            value: v.name,
            color: getExecutionStatusIcon(v.name).color,
        };
    })
);

const filterByExecStatusGroup = ref<OptionValueType[]>(
    filterByExecStatusOptions.value.map((v) => v.value)
);

const preFilteredRowsByExecStatus = computed<SequenceWithExecutionRow[]>(() =>
    executionsWithSequenceInfo.value.filter((v) =>
        filterByExecStatusGroup.value.includes(v.execStatus)
    )
);

async function navigateTo(_event: Event, row: SequenceWithExecutionRow) {
    await router.push(
        toSingleExecutionProtocol(
            productId,
            versionId,
            variantId,
            row.id,
            row.exec.id
        )
    );
}

async function goBackToTestSequences() {
    await router.push(
        toTestSequencesOfVariant(productId, versionId, variantId)
    );
}
</script>
