<template>
    <q-page class="row justify-center">
        <div v-if="!successfullRegistration" id="regiter-form">
            <h2><u>Register</u></h2>

            <form @submit="registerUser">
                <div id="name">
                    <label>Name</label>
                    <q-input
                        name="name-input"
                        type="text"
                        outlined
                        v-model.trim="name"
                        required
                        lazy-rules
                    />
                </div>
                <q-space class="space-height" />
                <div id="email">
                    <label>Email</label>
                    <q-input
                        name="email-input"
                        type="email"
                        outlined
                        v-model.trim="email"
                        required
                        :rules="vaildEmailRule"
                        lazy-rules
                    />
                </div>
                <q-space class="space-height" />
                <div id="password">
                    <label>Password</label>
                    <q-input
                        name="password-input"
                        type="password"
                        v-model="password"
                        outlined
                        required
                        lazy-rules
                        :rules="validPasswordRule"
                    />
                    <div v-if="password !== ''">
                        <span>Password strength: </span>
                        <span :style="getFontStyle">
                            {{ PasswordCheckStrength[currentPasswordStrength] }}
                        </span>
                    </div>
                </div>
                <q-space class="space-height" />
                <div id="password">
                    <label>Password (Again)</label>
                    <q-input
                        name="password-check-input"
                        type="password"
                        v-model="passwordCheck"
                        outlined
                        required
                        :rules="passwordsMatchRule"
                        lazy-rules
                    />
                </div>
                <q-space class="space-height" />
                <div class="flex justify-center">
                    <q-btn
                        name="register-button"
                        type="submit"
                        color="primary"
                        :disable="!formIsValid"
                    >
                        Register
                    </q-btn>
                </div>
            </form>
        </div>
        <div v-else id="success-card">
            <q-card class="my-card">
                <q-card-section
                    class="card-style row justify-center items-center"
                >
                    <div class="text-h5">Registered Successfully</div>
                </q-card-section>
                <q-card-section>
                    <div>
                        <div>An email has been sent to {{ email }}.</div>
                        <div>
                            To verify your email and activate your account,
                            please open the link in that email.
                        </div>
                    </div>
                </q-card-section>
                <q-card-actions class="flex justify-center">
                    <q-btn
                        id="login-page-button"
                        color="primary"
                        :to="RouteParts.Login"
                        >Back to login</q-btn
                    >
                </q-card-actions>
            </q-card>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import { RouteParts } from 'src/router/routes';
import { AppRole, AppUserPostDTO } from 'src/stores/app-user-store';
import { useAppUserStore } from 'src/stores/app-user-store';
import { hashPassword } from 'src/utils/password-utils';
import { ref } from 'vue';
import {
    checkPasswordStrength,
    getPasswordValidatorStyle,
    PasswordCheckStrength,
} from 'src/utils/password-utils';
import { computed } from 'vue';
import { ValidationRule } from 'quasar';
import {
    ruleIsEmail,
    ruleMatchingPasswords,
    rulePasswordStrength,
} from 'src/utils/rules';

const appUserStore = useAppUserStore();

// State
const name = ref<string>('');
const email = ref<string>('');
const password = ref<string>('');
const passwordCheck = ref<string>('');

const successfullRegistration = ref<boolean>(false);

// Form Validation
const currentPasswordStrength = computed<PasswordCheckStrength>(() =>
    checkPasswordStrength(password.value)
);

const vaildEmailRule: ValidationRule[] = [ruleIsEmail()];
const validPasswordRule: ValidationRule[] = [(v) => rulePasswordStrength(v)];
const passwordsMatchRule: ValidationRule[] = [
    (v) => ruleMatchingPasswords(password.value, v) || "Passwords don't match.",
];

const getFontStyle = computed<string>(() =>
    getPasswordValidatorStyle(currentPasswordStrength.value)
);

const formIsValid = computed<boolean>(
    () =>
        name.value !== '' &&
        email.value !== '' &&
        rulePasswordStrength(password.value) &&
        ruleMatchingPasswords(password.value, passwordCheck.value)
);

// Functions
async function registerUser(event: Event) {
    event.preventDefault();

    const appUserDto: AppUserPostDTO = {
        name: name.value,
        email: email.value,
        password: await hashPassword(password.value),
        isEnabled: false,
        appRoleId: AppRole.USER,
    };

    await appUserStore
        .register(appUserDto)
        .then(() => (successfullRegistration.value = true))
        .catch(()=> (successfullRegistration.value = false));
}
</script>

<style>
.space-height {
    height: 1rem;
}
</style>
