<template>
    <q-page class="row justify-center">
        <q-card class="col-9" flat bordered>
            <q-card-section class="text-center bg-primary">
                <span class="text-grey-3 text-h5">{{ pageTitle }}</span>
            </q-card-section>
            <q-card-section>
                <form @submit="resetPassword">
                    <q-space class="space-height" />
                    <q-input
                        type="password"
                        v-model="password"
                        label="New Password"
                        outlined
                        required
                        :rules="validPasswordRule"
                    />
                    <div v-if="password !== ''">
                        <no-br>Password strength: </no-br>
                        <no-br :style="getFontStyle">
                            {{ PasswordCheckStrength[currentPasswordStrength] }}
                        </no-br>
                    </div>
                    <q-space class="space-height" />
                    <q-input
                        type="password"
                        v-model="passwordCheck"
                        label="Repeat password"
                        outlined
                        required
                        :rules="passwordsMatchRule"
                    />
                    <q-space class="space-height" />
                    <div class="flex justify-center">
                        <q-btn
                            id="register-button"
                            type="button"
                            color="primary"
                            @click.stop="resetPassword"
                            :disable="!formIsValid"
                        >
                            Reset your password
                        </q-btn>
                    </div>
                </form>
            </q-card-section>
        </q-card>
    </q-page>
</template>

<script setup lang="ts">
import { QBtn, QCard, QCardSection, QPage } from 'quasar';
import { computed, ref } from 'vue';
import { ValidationRule } from 'quasar';
import { ruleMatchingPasswords, rulePasswordStrength } from 'src/utils/rules';
import {
    checkPasswordStrength,
    getPasswordValidatorStyle,
    hashPassword,
    PasswordCheckStrength,
} from 'src/utils/password-utils';
import {
    PasswordResetPostDTO,
    usePasswordResetStore,
} from 'src/stores/password-reset-store';
import { notifySuccess, notifyWarn } from 'src/utils/general-utils';
import { useRouter } from 'vue-router';
import { RouteParts } from 'src/router/routes';

const pageTitle = 'RESET PASSWORD';

const passwordResetStore = usePasswordResetStore();
const password = ref<string>('');
const passwordCheck = ref<string>('');

const validPasswordRule: ValidationRule[] = [(v) => rulePasswordStrength(v)];

const passwordsMatchRule: ValidationRule[] = [
    (v) => ruleMatchingPasswords(password.value, v) || "Passwords don't match.",
];

const formIsValid = computed<boolean>(
    () =>
        rulePasswordStrength(password.value) &&
        ruleMatchingPasswords(password.value, passwordCheck.value)
);

const getFontStyle = computed<string>(() =>
    getPasswordValidatorStyle(currentPasswordStrength.value)
);

const currentPasswordStrength = computed<PasswordCheckStrength>(() =>
    checkPasswordStrength(password.value)
);

const router = useRouter();

async function resetPassword() {
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    console.log('token: ' + token);

    if (token) {
        let passwordResetPostDto: PasswordResetPostDTO = {
            password: await hashPassword(password.value),
            token: token,
        };

        try {
            await passwordResetStore.reset_password(passwordResetPostDto);
            notifySuccess('Successfully reset your password');
            router.push(RouteParts.Login);
        } catch (e: unknown) {
            notifyWarn('Something went wront');
        }
    } else {
        notifyWarn('Please request a password reset link first');
    }
}
</script>
