<!--This component can be used to wrap Components that can fail in async setup via Error bubble up-->
<template>
    <slot
        v-if="error"
        name="error"
        :error="error"
        :clearError="clearError"
    ></slot>
    <suspense timeout="0" v-else>
        <template #default>
            <slot name="default"></slot>
        </template>
        <template #fallback>
            <slot name="fallback"></slot>
        </template>
    </suspense>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useErrorStateStore } from 'src/stores/error-state-store';
import { onErrorCaptured } from 'vue';

const errorStateStore = useErrorStateStore();
const { error } = storeToRefs(errorStateStore);

function clearError() {
    errorStateStore.resetError();
}

//catch all bubbling up exceptions of child components
onErrorCaptured((err: Error) => {
    errorStateStore.setError(err);
    console.info(
        'Handled Error bubbling up into Suspense Error Capture.',
        err,
        '\n',
        err.stack ?? '',
        err.cause ?? ''
    );
    return false; //false prevents logging, because we handled it
});
</script>
