<template>
  <q-page class="row justify-center">
    <div v-if="!singleTestCase">
      {{ testCaseNotAvailableErrorToDisplay }}
    </div>
    <div
      v-else
      class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
    >
      <q-card class="col-9" flat bordered>
        <q-card-section class="text-center bg-primary">
          <span class="text-grey-3 text-h5">{{ pageTitle }}</span>
        </q-card-section>
        <q-card-section>
          <q-card-actions class="justify-between items-between">
            <q-btn
              :icon="matArrowBack"
              :label="ButtonLabel.Back"
              :color="Color.Back"
              text-color="white"
              @click.stop="goToTestSequence"
            >
            </q-btn>

            <q-btn
              :icon-right="matDelete"
              label="DELETE"
              color="red"
              text-color="white"
              @click.stop="deleteTestCase"
            >
            </q-btn>

            <mutate-test-case-modal
              :test-case-to-update="singleTestCase"
              @updated-test-case="onEditedTestCase"
            >
            </mutate-test-case-modal>

            <q-btn
              :disable="sortedTestSteps.length === 0"
              :icon-right="matPlayArrow"
              :label="ButtonLabel.Execute"
              :color="Color.Execute"
              text-color="white"
              @click.stop="goToExecutionPage"
            >
            </q-btn>
          </q-card-actions>
        </q-card-section>
        <q-card-section class="q-pt-xs row">
          <div class="text-h4 text-primary col">
            <span class="text-secondary">Name: </span>
            <span class="text-black">{{
                singleTestCase.name
              }}</span>
          </div>
          <div class="column">
            <div class="row items-end">
              <q-badge :color="Color.Info">
                created
                {{
                  getRelativeDateDiff(
                    singleTestCase.createdAt
                  )
                }}
                <q-tooltip>{{
                    new Date(singleTestCase.createdAt)
                  }}</q-tooltip>
              </q-badge>
            </div>
          </div>
        </q-card-section>
        <q-card-section class="text-body1">
          <div class="text-bold text-secondary">Description</div>
          <div class="text-grey-7 q-mt-xs">
            {{
              singleTestCase.description ??
              'No description available...'
            }}
          </div>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <q-expansion-item
            header-class="bg-grey-3 text-body1 text-secondary"
            v-model="expandPrecondition"
            label="Precondition"
          >
            <q-card bordered>
              <q-card-section class="q-pt-xs">
                <div class="text-grey-7">
                  {{
                    singleTestCase.precondition ??
                    'No precondition available...'
                  }}
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section
          class="row justify-center"
          style="padding-bottom: unset"
        >
          <mutate-test-step-modal
            custom-modal-button-label="CREATE NEW TEST STEP"
            @created-test-step="onCreatedTestStep"
          >
          </mutate-test-step-modal>
        </q-card-section>
        <q-card-section>
          <p
            class="text-body1 text-secondary q-pl-md"
            style="text-decoration: underline"
          >
            Test Steps
          </p>
          <q-list bordered separator class="menu-list">
            <template v-if="sortedTestSteps.length !== 0">
              <q-expansion-item
                v-for="testStep in sortedTestSteps"
                :key="testStep.id"
                header-class="bg-grey-3 text-body1 text-secondary"
                :label="testStep.instruction"
              >
                <div
                  class="row items-center justify-between q-pa-xs"
                >
                  <q-item-label class="row text-left q-pl-md">
                    <span
                      class="text-bold text-grey-8 q-mr-md"
                      style="text-decoration: underline"
                    >
                      Expected result:
                    </span>
                    <span class="text-grey-7">
                      {{ testStep.expectedResult }}
                    </span>
                  </q-item-label>
                  <div class="row justify-between">
                    <mutate-test-step-modal
                      @updated-test-step="onEditedTestStep"
                      :custom-modal-button-label="overWriteMutateTestStepModalButtonLabel"
                      :test-step-to-update="testStep"
                    >
                    </mutate-test-step-modal>
                    <q-btn
                      class=""
                      :color="Color.Delete"
                      :icon="matDelete"
                      @click.stop="deleteTestStep(testStep.id)"
                    >
                      <q-tooltip
                      >Delete Test Step</q-tooltip
                      >
                    </q-btn>
                  </div>
                </div>
              </q-expansion-item>
            </template>
            <q-item v-else>
              <q-item-label
                class="column justify-center text-left text-grey-7"
              >
                No test steps available...
              </q-item-label>
            </q-item>
          </q-list>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
          <q-card-actions class="justify-between items-between">
            <q-btn
              class=""
              label="Unsubscribe"
              :color="Color.Delete"
              :icon="matDelete"
              @click.stop="onUnsubscribeClick">
              <q-tooltip
              >Subscribe to this Test Case
              </q-tooltip>
            </q-btn>
            <q-btn
              class=""
              label="Subscribe"
              :color="Color.Create"
              :icon="matPlayArrow"
              @click.stop="onSubscribeClick">
              <q-tooltip
              >Subscribe to this Test Case
              </q-tooltip>
            </q-btn>
          </q-card-actions>
            <q-list bordered separator class="menu-list">
            <template v-if="subscribedUsers.length !== 0">
              <q-item
                v-for="user in subscribedUsers"
                :key="user.id"
                header-class="bg-grey-3 text-body1 text-secondary"
                :label="user.name"
              >
                <div
                  class="row items-center justify-between q-pa-xs"
                >
                  <q-item-label class="row text-left q-pl-md">
                    <span
                      class="text-bold text-grey-8 q-mr-md"
                    >
                      {{ user.name }}
                    </span>
                    <span class="text-grey-7">
                      {{ user.email }}
                    </span>
                  </q-item-label>
                </div>
              </q-item>
            </template>
            <q-item v-else>
              <q-item-label
                class="column justify-center text-left text-grey-7"
              >
                No one has subscribed yet ...
              </q-item-label>
            </q-item>
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import {
  QBadge,
  QBtn,
  QCard,
  QCardActions,
  QCardSection,
  QExpansionItem,
  QItem,
  QItemLabel,
  QList,
  QPage,
  QSeparator,
  QTooltip,
  useQuasar,
} from 'quasar';
import {
  notifyError,
  Color,
  parseSingleParamAndThrowOnErr,
  ButtonLabel,
  buildInformAdminMsg,
} from 'src/utils/general-utils';
import { ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useRoute, useRouter } from 'vue-router';
import { PathParams, toSingleTestSequence } from 'src/router/routes';
import { getRelativeDateDiff } from 'src/utils/date-utils';
import MutateTestCaseModal from 'src/components/MutateTestCaseModal.vue';
import MutateTestStepModal from 'src/components/MutateTestStepModal.vue';
import { useTestCaseStore } from 'src/stores/test-case-store';
import { useSubscribedUsersStore } from 'src/stores/test-case-subscription-store';
import {
  matDelete,
  matArrowBack,
  matPlayArrow,
} from '@quasar/extras/material-icons';
import { useTestSequenceStore } from 'src/stores/test-sequence-store';
import { useTestStepStore } from 'src/stores/test-step-store';
import { goToExecution } from 'src/router/router-utils';
import { useAuthenticationStore } from 'src/stores/authentication-store';
const testCaseNotAvailableErrorToDisplay = 'Error Test Case not available...';
const pageTitle = 'TEST CASE';
const overWriteMutateTestStepModalButtonLabel = '';

const testStepStore = useTestStepStore();
const { sortedTestSteps } = storeToRefs(testStepStore);

const testCaseStore = useTestCaseStore();
const { singleTestCase } = storeToRefs(testCaseStore);

const testSequenceStore = useTestSequenceStore();
const { singleTestSequence } = storeToRefs(testSequenceStore);

const subscribedUsersStore = useSubscribedUsersStore();
const { subscribedUsers } = storeToRefs(subscribedUsersStore);

const authStore = useAuthenticationStore();

const expandPrecondition = ref(true);

const $q = useQuasar();
const router = useRouter();
const route = useRoute();

// initial setup

const productId = parseSingleParamAndThrowOnErr(
  route.params[PathParams.ProductId],
  PathParams.ProductId
);
const versionId = parseSingleParamAndThrowOnErr(
  route.params[PathParams.VersionId],
  PathParams.VersionId
);
const variantId = parseSingleParamAndThrowOnErr(
  route.params[PathParams.VariantId],
  PathParams.VariantId
);
const testSequenceId = parseSingleParamAndThrowOnErr(
  route.params[PathParams.TestSequenceId],
  PathParams.TestSequenceId
);
const testCaseId = parseSingleParamAndThrowOnErr(
  route.params[PathParams.TestCaseId],
  PathParams.TestCaseId
);
await fetchTestCasePageData(testCaseId);

// functions
async function goToExecutionPage() {
  if (singleTestSequence.value === null) {
    notifyError('Unexpectedly no selected test sequence can be found!');
    return;
  }
  if (singleTestCase.value === null) {
    notifyError('Unexpectedly no selected test case can be found!');
    return;
  }
  await goToExecution(
    router,
    productId,
    versionId,
    variantId,
    singleTestSequence.value?.id,
    [singleTestCase.value.id]
  );
}

async function goToTestSequence() {
  if (singleTestSequence.value === null) {
    notifyError('Unexpectedly no test sequence to return to can be found!');
    return;
  }
  await router.push(
    toSingleTestSequence(productId, versionId, variantId, testSequenceId)
  );
}

async function deleteTestStep(testStepId: number) {
  if (singleTestCase.value === null) {
    return notifyError(
      buildInformAdminMsg('Unexpectedly no test case can be found!')
    );
  }
  try {
    await testStepStore.delete(testStepId);
    await testStepStore.getAll(singleTestCase.value.id);
  } catch (e: unknown) {}
}

async function onCreatedTestStep() {
  if (singleTestCase.value === null) {
    return notifyError(
      buildInformAdminMsg('Unexpectedly no test case can be found!')
    );
  }
  try {
    await testStepStore.getAll(singleTestCase.value.id);
  } catch (e: unknown) {}
}

async function onEditedTestStep() {
  if (singleTestCase.value === null) {
    return notifyError(
      buildInformAdminMsg('Unexpectedly no test case can be found!')
    );
  }
  try {
    await testStepStore.getAll(singleTestCase.value.id);
  } catch (e: unknown) {
    notifyError('Failed refetching updated test steps!');
  }
}

async function onSubscribeClick() {
  try {
    await subscribedUsersStore.post(singleTestCase.value.id, authStore.getUser().id);
  } catch (e: unknown) {
    notifyError('Failed to subscribe to the test case!');
  }

  subscribedUsersStore.getAll(singleTestCase.value.id);
}

async function onUnsubscribeClick() {
  try {
    await subscribedUsersStore.delete(singleTestCase.value.id, authStore.getUser().id);
  } catch (e: unknown) {
      notifyError('Failed to unsubscibe from the test case');
  }

  subscribedUsersStore.getAll(singleTestCase.value.id);
}

async function onEditedTestCase(testCaseId: number) {
  try {
    await fetchTestCaseById(testCaseId);
  } catch (e: unknown) {
    notifyError('Failed refetching updated test case!');
  }
}

function deleteTestCase() {
  $q.dialog({
    title: 'Delete Test Case',
    message: 'Do you really want to delete this test case?',
    cancel: true,
    persistent: true,
  }).onOk(async () => {
    try {
      if (singleTestCase.value !== null) {
        await testCaseStore.delete(singleTestCase.value.id);
        if (singleTestSequence.value === null) {
          return notifyError(
            'Unexpectedly no prior selected test sequence can be found!'
          );
        }

        await router.push(
          toSingleTestSequence(
            productId,
            versionId,
            variantId,
            singleTestSequence.value.id
          )
        );
      } else {
        notifyError(
          'You cannot delete a test case that is not loaded!'
        );
      }
    } catch (e: unknown) {}
  });
}

// functions

async function fetchTestCasePageData(testCaseId: number) {
  await fetchTestCaseById(testCaseId);
  await testStepStore.getAll(testCaseId);
  await subscribedUsersStore.getAll(testCaseId);
}

async function fetchTestCaseById(testCaseId: number) {
  try {
    await testCaseStore.getSingle(testCaseId);
  } catch (e: unknown) {
    router.go(-1);
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 350px;
}
</style>
