<template>
    <q-page class="row justify-center">
        <div class="q-pa-md col-md-8 col-sm-12 col-xs-12">
            <q-table
                :rows="testSequences"
                :columns="columns"
                row-key="id"
                :filter="filter"
                :loading="fetchingTestSequences"
                :no-data-label="noDataLabel"
                :no-results-label="noResultsLabel"
                wrap-cells
                bordered
                class="sticky-virtscroll-table"
                :pagination="pagination"
                :rows-per-page-options="[0]"
                binary-state-sort
                style="height: 800px"
                virtual-scroll
                :virtual-scroll-sticky-size-start="48"
            >
                <template #top>
                    <q-toolbar class="table-title text-center q-pa-md">
                        <q-toolbar-title class="text-h5">
                            <div class="text-left text-grey-3">
                                <q-chip square color="silver">
                                    {{
                                        singleProduct?.name ??
                                        'No product name available'
                                    }}
                                    <q-tooltip>Product</q-tooltip>
                                </q-chip>
                                <q-chip square color="silver">
                                    {{
                                        singleVersion?.name ??
                                        'No product version name available'
                                    }}
                                    <q-tooltip>Version</q-tooltip>
                                </q-chip>
                                <q-chip square color="silver">
                                    {{
                                        singleVariant?.name ??
                                        'No product variant name available'
                                    }}
                                    <q-tooltip>Variant</q-tooltip>
                                </q-chip>
                            </div>
                            <div>{{ tableTitle }}</div>
                        </q-toolbar-title>
                    </q-toolbar>
                    <!--TODO: change emitted event and component used-->
                    <q-btn
                        class="q-ml-md"
                        :icon="matArrowBack"
                        :label="ButtonLabel.Back"
                        :color="Color.Back"
                        text-color="white"
                        @click.stop="goToProduct"
                    >
                    </q-btn>
                    <mutate-test-sequence-modal
                        @created-test-sequence="onCreatedTestSequence"
                    ></mutate-test-sequence-modal>
                    <q-space />
                    <q-btn
                        class=""
                        :color="Color.Open"
                        :icon-right="matOpenInNew"
                        @click.stop="goToExecutionProtocols"
                        label="Protocols"
                    >
                        <q-tooltip>Go to Protocols</q-tooltip>
                    </q-btn>
                    <q-space />
                    <div class="q-pr-md">
                        <q-input
                            debounce="300"
                            color="secondary"
                            v-model.trim="filter"
                            label="Search..."
                            clearable
                            dense
                            outlined
                            class="bg-white"
                        >
                            <template #append>
                                <q-icon name="search" />
                            </template>
                        </q-input>
                    </div>
                </template>
                <template #header="props">
                    <q-tr :props="props">
                        <q-th
                            v-for="col in props.cols"
                            :key="col.name"
                            :props="props"
                            class="text-primary"
                            style="font-size: large"
                        >
                            {{ col.label }}
                        </q-th>
                    </q-tr>
                </template>
                <template #body="props">
                    <q-tr class="bg-white">
                        <q-td class="" style="padding: unset">
                            <q-item
                                clickable
                                v-ripple
                                @click.stop="
                                    goToSingleTestSequence(props.row.id)
                                "
                            >
                                <q-item-section>
                                    <q-item-label header>
                                        <span class="text-secondary text-h6">
                                            {{ props.row.name }}
                                        </span>
                                    </q-item-label>
                                </q-item-section>
                                <q-item-section side top>
                                    <q-badge :color="Color.Info">
                                        created
                                        {{
                                            getRelativeDateDiff(
                                                props.row.createdAt
                                            )
                                        }}
                                        <q-tooltip>{{
                                            new Date(props.row.createdAt)
                                        }}</q-tooltip>
                                    </q-badge>
                                </q-item-section>
                            </q-item>
                        </q-td>
                    </q-tr>
                </template>
                <template #loading>
                    <q-inner-loading showing color="primary" />
                </template>
                <template #no-data="{ message }">
                    <div
                        class="full-width row flex-center text-white q-gutter-sm"
                    >
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>{{ message }}</span>
                    </div>
                </template>
            </q-table>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import MutateTestSequenceModal from '../components/MutateTestSequenceModal.vue';
import {
    QBadge,
    QIcon,
    QInnerLoading,
    QInput,
    QItem,
    QItemLabel,
    QItemSection,
    QPage,
    QSpace,
    QTable,
    QTableColumn,
    QTableProps,
    QTd,
    QTh,
    QToolbar,
    QToolbarTitle,
    QTooltip,
    QTr,
} from 'quasar';
import { ref } from 'vue';
import { getRelativeDateDiff } from '../utils/date-utils';
import { storeToRefs } from 'pinia';
import {
    Color,
    notifyError,
    ButtonLabel,
    parseSingleParamAndThrowOnErr,
} from '../utils/general-utils';
import {
    PathParams,
    toExecutionProtocolsOfVariant,
    toSingleTestSequence,
    toSingleProduct,
} from 'src/router/routes';
import {
    TestSequence,
    useTestSequenceStore,
} from 'src/stores/test-sequence-store';
import {
    ProductVariant,
    useProductVariantStore,
} from 'src/stores/product-variant-store';
import { useRoute, useRouter } from 'vue-router';
import {
    ProductVersion,
    useProductVersionStore,
} from 'src/stores/product-version-store';
import { useProductStore } from 'src/stores/product-store';
import { matArrowBack, matOpenInNew } from '@quasar/extras/material-icons';

const tableTitle = 'TEST SEQUENCES';
const noDataLabel = 'No test sequences found';
const noResultsLabel = 'The search did not uncover any results';

const productStore = useProductStore();
const { singleProduct } = storeToRefs(productStore);
const productVersionStore = useProductVersionStore();
const productVariantStore = useProductVariantStore();
const testSequenceStore = useTestSequenceStore();

const router = useRouter();
const route = useRoute();

const productId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const versionId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VersionId],
    PathParams.VersionId
);
const variantId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VariantId],
    PathParams.VariantId
);

const singleVersion = ref<ProductVersion>(
    await productVersionStore.getSingle(versionId)
);
const singleVariant = ref<ProductVariant>(
    await productVariantStore.getSingle(variantId)
);
const testSequences = ref<TestSequence[]>(
    await testSequenceStore.getAll(singleVariant.value.id)
);

const pagination = ref<QTableProps['pagination']>({
    rowsPerPage: 0,
    descending: false,
    sortBy: 'name',
});

const columns: QTableColumn[] = [
    {
        name: 'name',
        required: true,
        label: 'name',
        align: 'left',
        field: (row: { name: string }) => row.name,
        format: (val: TestSequence) => `${val}`,
        classes: 'primary',
        sortable: true,
    },
];

const fetchingTestSequences = ref(false);

const filter = ref('');

// functions

async function goToProduct() {
    if (singleProduct.value === null) {
        notifyError('Unexpectedly no prior selected product can be found!');
        return;
    }
    await router.push(toSingleProduct(singleProduct.value.id));
}

async function goToSingleTestSequence(testSequenceId: number) {
    await router.push(
        toSingleTestSequence(productId, versionId, variantId, testSequenceId)
    );
}

async function goToExecutionProtocols() {
    await router.push(
        toExecutionProtocolsOfVariant(productId, versionId, variantId)
    );
}

async function onCreatedTestSequence() {
    try {
        fetchingTestSequences.value = true;
        testSequences.value = await testSequenceStore.getAll(
            singleVariant.value.id
        );
    } catch (e: unknown) {}
    fetchingTestSequences.value = false;
}
</script>
