<template>
    <q-page class="row justify-center">
        <div v-if="!singleTestSequence">
            {{ testSequenceNotAvailableErrorToDisplay }}
        </div>
        <div
            v-else
            class="items-start col q-pa-md col-md-8 col-sm-12 col-xs-12"
        >
            <q-card class="col-9" flat bordered>
                <q-card-section class="text-center bg-primary">
                    <span class="text-grey-3 text-h5">{{ pageTitle }}</span>
                </q-card-section>
                <q-card-section>
                    <q-card-actions class="justify-between items-between">
                        <q-btn
                            :icon="matArrowBack"
                            :label="ButtonLabel.Back"
                            :color="Color.Back"
                            text-color="white"
                            @click.stop="goToTestSequences"
                        >
                        </q-btn>

                        <q-btn
                            :icon-right="matDelete"
                            label="DELETE"
                            color="red"
                            text-color="white"
                            @click.stop="deleteTestSequence"
                        >
                        </q-btn>
                        <mutate-test-sequence-modal
                            :test-sequence-to-update="singleTestSequence"
                            @updated-test-sequence="onEditedTestSequence"
                        >
                        </mutate-test-sequence-modal>
                        <q-btn
                            :disable="sortedTestCases.length === 0"
                            :icon-right="matPlayArrow"
                            :label="ButtonLabel.Execute"
                            :color="Color.Execute"
                            text-color="white"
                            @click.stop="goToExecutionPage"
                        >
                        </q-btn>
                    </q-card-actions>
                </q-card-section>
                <q-card-section class="q-pt-xs row">
                    <div class="text-h4 text-primary col">
                        <span class="text-secondary">Name: </span>
                        <span class="text-black">{{
                            singleTestSequence.name
                        }}</span>
                    </div>
                    <div class="column">
                        <div class="row items-end">
                            <q-badge :color="Color.Info">
                                created
                                {{
                                    getRelativeDateDiff(
                                        singleTestSequence.createdAt
                                    )
                                }}
                                <q-tooltip>{{
                                    new Date(singleTestSequence.createdAt)
                                }}</q-tooltip>
                            </q-badge>
                        </div>
                    </div>
                </q-card-section>
                <q-card-section class="text-body1">
                    <div class="text-bold text-secondary">Description</div>
                    <div class="text-grey-7 q-mt-xs">
                        {{
                            singleTestSequence.description ??
                            'No description available...'
                        }}
                    </div>
                </q-card-section>
                <q-separator></q-separator>
                <q-card-section>
                    <q-expansion-item
                        header-class="bg-grey-3 text-body1 text-secondary"
                        v-model="expandPrecondition"
                        label="Precondition"
                    >
                        <q-card bordered>
                            <q-card-section class="q-pt-xs">
                                <div class="text-grey-7">
                                    {{
                                        singleTestSequence.precondition ??
                                        'No precondition available...'
                                    }}
                                </div>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-card-section>
                <q-separator></q-separator>
                <q-card-section
                    class="row justify-center"
                    style="padding-bottom: unset"
                >
                    <mutate-test-case-modal
                        custom-modal-button-label="CREATE NEW TEST CASE"
                        @created-test-case="onCreatedTestCase"
                    ></mutate-test-case-modal>
                </q-card-section>
                <q-card-section>
                    <q-expansion-item
                        header-class="bg-grey-3 text-body1 text-secondary"
                        v-model="expandTestCases"
                        label="Test Cases"
                    >
                        <q-list bordered padding separator class="menu-list">
                            <template v-if="sortedTestCases.length !== 0">
                                <q-item
                                    v-for="testCase in sortedTestCases"
                                    :key="testCase.id"
                                    class="text-secondary text-h5"
                                >
                                    <q-item-section>
                                        <div
                                            class="row items-center justify-between"
                                        >
                                            <q-item-label
                                                class="column text-left text-primary"
                                            >
                                                {{ testCase.name }}
                                            </q-item-label>
                                            <div class="row justify-between">
                                                <q-btn
                                                    class=""
                                                    :color="Color.Open"
                                                    :icon="matOpenInNew"
                                                    @click.stop="
                                                        goToTestCase(
                                                            testCase.id
                                                        )
                                                    "
                                                >
                                                    <q-tooltip
                                                        >Test Case
                                                        Details</q-tooltip
                                                    >
                                                </q-btn>
                                                <mutate-test-case-modal
                                                    class=""
                                                    @updated-test-case="
                                                        onEditedTestCase
                                                    "
                                                    :custom-modal-button-label="
                                                        overWriteMutateTestCaseModalButtonLabel
                                                    "
                                                    :test-case-to-update="
                                                        testCase
                                                    "
                                                >
                                                </mutate-test-case-modal>
                                                <q-btn
                                                    class=""
                                                    :color="Color.Delete"
                                                    :icon="matDelete"
                                                    @click.stop="
                                                        deleteTestCase(
                                                            testCase.id
                                                        )
                                                    "
                                                >
                                                    <q-tooltip
                                                        >Delete Test
                                                        Case</q-tooltip
                                                    >
                                                </q-btn>
                                            </div>
                                        </div>
                                    </q-item-section>
                                </q-item>
                            </template>
                            <q-item v-else>
                                <q-item-label
                                    class="column justify-center text-left text-grey-7"
                                >
                                    No test cases available...
                                </q-item-label>
                            </q-item>
                        </q-list>
                    </q-expansion-item>
                </q-card-section>
            </q-card>
        </div>
    </q-page>
</template>

<script setup lang="ts">
import {
    QBadge,
    QBtn,
    QCard,
    QCardActions,
    QCardSection,
    QExpansionItem,
    QPage,
    QSeparator,
    QTooltip,
    useQuasar,
} from 'quasar';
import {
    notifyError,
    Color,
    parseSingleParamAndThrowOnErr,
    ButtonLabel,
    buildInformAdminMsg,
} from 'src/utils/general-utils';
import { computed, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import {
    PathParams,
    toSingleTestCase,
    toTestSequencesOfVariant,
} from 'src/router/routes';
import { getRelativeDateDiff } from 'src/utils/date-utils';
import MutateTestCaseModal from 'src/components/MutateTestCaseModal.vue';
import MutateTestSequenceModal from 'src/components/MutateTestSequenceModal.vue';
import {
    TestSequence,
    useTestSequenceStore,
} from 'src/stores/test-sequence-store';
import { TestCase, useTestCaseStore } from 'src/stores/test-case-store';
import {
    matArrowBack,
    matDelete,
    matOpenInNew,
    matPlayArrow,
} from '@quasar/extras/material-icons';
import { goToExecution } from 'src/router/router-utils';

const testSequenceNotAvailableErrorToDisplay =
    'Error Test Sequence not available...';
const pageTitle = 'TEST SEQUENCE';
const overWriteMutateTestCaseModalButtonLabel = '';

const testCaseStore = useTestCaseStore();

const testSequenceStore = useTestSequenceStore();

const expandPrecondition = ref(true);
const expandTestCases = ref(true);

const $q = useQuasar();
const router = useRouter();
const route = useRoute();

// setup
const productId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.ProductId],
    PathParams.ProductId
);
const versionId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VersionId],
    PathParams.VersionId
);
const variantId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.VariantId],
    PathParams.VariantId
);
const testSequenceId = parseSingleParamAndThrowOnErr(
    route.params[PathParams.TestSequenceId],
    PathParams.TestSequenceId
);
const singleTestSequence = ref<TestSequence>(
    await testSequenceStore.getSingle(testSequenceId)
);
const testCases = ref<TestCase[]>(await testCaseStore.getAll(testSequenceId));

const sortedTestCases = computed<TestCase[]>(() => {
    const copy = [...testCases.value];
    return copy.sort((a, b) => a.testSequenceIndex - b.testSequenceIndex);
});

// functions
async function goToExecutionPage() {
    if (singleTestSequence.value === null) {
        notifyError('Unexpectedly no selected test sequence can be found!');
        return;
    }
    await goToExecution(
        router,
        productId,
        versionId,
        variantId,
        singleTestSequence.value?.id,
        sortedTestCases.value.map((v) => v.id)
    );
}

async function goToTestSequences() {
    await router.push(
        toTestSequencesOfVariant(productId, versionId, variantId)
    );
}

async function goToTestCase(testCaseId: number) {
    await router.push(
        toSingleTestCase(
            productId,
            versionId,
            variantId,
            testSequenceId,
            testCaseId
        )
    );
}

async function deleteTestCase(testCaseId: number) {
    if (singleTestSequence.value === null) {
        return notifyError(
            buildInformAdminMsg('Unexpectedly no test sequence can be found!')
        );
    }
    try {
        await testCaseStore.delete(testCaseId);
        testCases.value = await testCaseStore.getAll(
            singleTestSequence.value.id
        );
    } catch (e: unknown) {}
}

async function onCreatedTestCase() {
    if (singleTestSequence.value === null) {
        return notifyError(
            buildInformAdminMsg('Unexpectedly no test sequence can be found!')
        );
    }
    try {
        testCases.value = await testCaseStore.getAll(
            singleTestSequence.value.id
        );
    } catch (e: unknown) {}
}

async function onEditedTestCase() {
    if (singleTestSequence.value === null) {
        return notifyError(
            buildInformAdminMsg('Unexpectedly no test sequence can be found!')
        );
    }
    try {
        testCases.value = await testCaseStore.getAll(
            singleTestSequence.value.id
        );
    } catch (e: unknown) {
        notifyError('Failed refetching updated test cases!');
    }
}

async function onEditedTestSequence(testSequenceId: number) {
    try {
        singleTestSequence.value = await testSequenceStore.getSingle(
            testSequenceId
        );
    } catch (e: unknown) {
        notifyError('Failed refetching updated test sequence!');
    }
}

function deleteTestSequence() {
    $q.dialog({
        title: 'Delete Test Sequence',
        message: 'Do you really want to delete this test sequence?',
        cancel: true,
        persistent: true,
    }).onOk(async () => {
        try {
            if (singleTestSequence.value !== null) {
                await testSequenceStore.delete(singleTestSequence.value.id);
                await router.push(
                    toTestSequencesOfVariant(productId, versionId, variantId)
                );
            } else {
                notifyError(
                    'You cannot delete a test sequence that is not loaded!'
                );
            }
        } catch (e: unknown) {}
    });
}

// functions
</script>

<style lang="scss" scoped>
.my-card {
    width: 100%;
    max-width: 350px;
}
</style>
