// app global css in SCSS form

//BEGIN table styling
.table-title {
    background-color: $primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sticky-virtscroll-table {
    /* height or max-height is important */
    height: 410px;
}

.q-table__top {
    background-color: $grey-3;
    color: white;
    padding: unset;
}

.q-table__bottom {
    background-color: $primary;
    color: white;
}

/* bg color is important for th; just specify one */
thead tr:first-child th {
    background-color: $grey-3;
}

thead tr th {
    position: sticky;
    z-index: 1;
}

/* this will be the loading indicator */
thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
}

thead tr:first-child th {
    top: 0;
}

//END table styling
