<template>
    <q-icon
        :size="props.size"
        :color="executionStatusInfo.color"
        :name="executionStatusInfo.icon"
    >
        <q-tooltip>{{ executionStatusName }}</q-tooltip>
    </q-icon>
</template>

<script setup lang="ts">
import { ExecutionStatusEnum } from 'src/stores/execution-status-store';
import {
    ExecutionStatusIconInfo,
    getExecutionStatusIcon,
} from 'src/utils/general-utils';
import { computed } from 'vue';

const props = withDefaults(
    defineProps<{ executionStatusName: ExecutionStatusEnum; size?: string }>(),
    { size: 'sm' }
);
const executionStatusInfo = computed<ExecutionStatusIconInfo>(() =>
    getExecutionStatusIcon(props.executionStatusName)
);
</script>
