<template>
    <q-icon :color="Color.Info" size="sm" :name="matInfo">
        <q-tooltip max-width="150px">
            {{ props.tooltip }}
        </q-tooltip>
    </q-icon>
</template>

<script setup lang="ts">
import { matInfo } from '@quasar/extras/material-icons';
import { Color } from 'src/utils/general-utils';

type InfoIconProps = {
    tooltip: string;
};
const props = defineProps<InfoIconProps>();
</script>
