<template>
    <q-card flat bordered>
        <q-card-section class="text-center bg-secondary">
            <span class="text-grey-3 text-h5"> Version & Variant </span>
        </q-card-section>
        <q-card-section class="column items-end" style="padding: 2px 16px">
            <info-icon
                tooltip="Every product (e.g. Ubuntu) needs to have a version (e.g. 20.04) and a variant (e.g. Desktop)."
            ></info-icon>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
            <q-btn
                :label="ButtonLabel.Create"
                :color="Color.Create"
                @click.stop="openPostVersionModal"
                :icon-right="matAddCircle"
                :text-color="TextColor.White"
            >
                <q-tooltip>Create new product version</q-tooltip>
            </q-btn>
        </q-card-section>
        <q-card-section>
            <q-select
                ref="versionSelectRef"
                emit-value
                map-options
                v-model="selectedVersion"
                input-debounce="0"
                label="Choose version ..."
                label-color="secondary"
                :options="filteredVersionOptions"
                @update:model-value="onVersionSelected"
                option-label="name"
                behavior="menu"
                outlined
            >
                <template #no-option>
                    <q-item>
                        <q-item-section class="text-grey">
                            No results
                        </q-item-section>
                    </q-item>
                </template>
                <template #after>
                    <q-btn
                        :disable="!isVersionSelected"
                        @click.stop="onManageVersions"
                        fab-mini
                        :color="Color.Settings"
                        :icon="matSettings"
                    >
                        <q-tooltip> Manage versions </q-tooltip>
                    </q-btn>
                </template>
            </q-select>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
            <q-btn
                :disable="!isVersionSelected"
                :label="ButtonLabel.Create"
                :color="Color.Create"
                @click.stop="openPostVariantModal"
                :icon-right="matAddCircle"
                :text-color="TextColor.White"
            >
                <q-tooltip>Create new product variant</q-tooltip>
            </q-btn>
        </q-card-section>
        <q-card-section>
            <q-select
                :disable="!isVersionSelected"
                v-model="selectedVariant"
                input-debounce="0"
                label="Choose variant ..."
                label-color="secondary"
                :options="filteredVariantOptions"
                @update:model-value="onVariantSelected"
                option-label="name"
                behavior="menu"
                outlined
            >
                <template #no-option>
                    <q-item>
                        <q-item-section class="text-grey">
                            No results
                        </q-item-section>
                    </q-item>
                </template>
                <template #after>
                    <q-btn
                        :disable="!isVariantSelected"
                        @click.stop="onManageVariants"
                        fab-mini
                        :color="Color.Settings"
                        :icon="matSettings"
                    >
                        <q-tooltip> Manage variants </q-tooltip>
                    </q-btn>
                </template>
            </q-select>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section class="justify-end column">
            <q-btn
                :disable="!isVersionAndVariantSelected"
                :color="Color.Continue"
                @click.stop="goToTestSequencesOfVariant"
            >
                <template #default>
                    <div class="col-10">Continue to Test-Sequences</div>
                    <div class="col-2">
                        <q-icon size="md" :name="matArrowForward" />
                    </div>
                </template>
            </q-btn>
        </q-card-section>
    </q-card>
</template>

<script setup lang="ts">
import {
    QCard,
    QCardSection,
    QSelect,
    QItem,
    QItemSection,
    QBtn,
    QIcon,
    QTooltip,
    useQuasar,
    QSeparator,
    QDialogOptions,
} from 'quasar';
import { computed, ref } from 'vue';
import {
    matSettings,
    matArrowForward,
    matAddCircle,
} from '@quasar/extras/material-icons';
import {
    buildInformAdminMsg,
    ButtonLabel,
    Color,
    notifyError,
    TextColor,
} from 'src/utils/general-utils';
import {
    ProductVersion,
    useProductVersionStore,
} from 'src/stores/product-version-store';
import {
    ProductVariant,
    useProductVariantStore,
} from 'src/stores/product-variant-store';
import { ruleName } from 'src/utils/rules';
import VersionOrVariantDialog, {
    VersionOrVariantDialogProps,
    VersionOrVariantModalRequest,
} from 'src/components/VersionOrVariantDialog.vue';
import { toTestSequencesOfVariant } from 'src/router/routes';
import InfoIcon from './InfoIcon.vue';
import { useRouter } from 'vue-router';
import { DefaultVariantName, DefaultVersionName } from 'src/utils/store-utils';

type ManageVersionAndVariantEmit = {
    (event: 'selectedVersion', versionId: number): void;
    (event: 'selectedVariant', variantId: number): void;
};
const emit = defineEmits<ManageVersionAndVariantEmit>();

type ManageVersionAndVariantProps = {
    productId: number;
};
const props = defineProps<ManageVersionAndVariantProps>();

const router = useRouter();

const versionSelectRef = ref<InstanceType<typeof QSelect> | null>(null);

const $q = useQuasar();
const productVersionStore = useProductVersionStore();

const productVariantStore = useProductVariantStore();

//initial setup
const productVersions = ref<ProductVersion[]>(
    await productVersionStore.getAll(props.productId)
);
const productVariants = ref<ProductVariant[]>([]);

//set the default version if it exists
const selectedVersion = ref<ProductVersion | null>(initializeSelectedVersion());

const selectedVariant = ref<ProductVariant | null>(
    await initializeSelectedVariant()
);

const isVersionSelected = computed<boolean>(
    () => selectedVersion.value !== null
);
const isVariantSelected = computed<boolean>(
    () => selectedVariant.value !== null
);
const isVersionAndVariantSelected = computed<boolean>(
    () => isVersionSelected.value && isVariantSelected.value
);
const filteredVersionOptions = computed<ProductVersion[]>(
    () => productVersions.value
);
const filteredVariantOptions = computed<ProductVariant[]>(
    () => productVariants.value
);

// functions

function goToTestSequencesOfVariant() {
    if (selectedVariant.value === null) {
        return notifyError(buildInformAdminMsg('No version selected!'));
    }
    if (selectedVersion.value === null) {
        return notifyError(buildInformAdminMsg('No variant selected!'));
    }
    return router.push(
        toTestSequencesOfVariant(
            props.productId,
            selectedVersion.value.id,
            selectedVariant.value.id
        )
    );
}

// post version modal //
function openPostVersionModal() {
    $q.dialog({
        title: 'Create new Product Version',
        message: 'Enter a name',
        prompt: {
            model: '',
            type: 'text',
            isValid: ruleName,
        },
        cancel: true,
        persistent: true,
    }).onOk(async (payload: string) => {
        try {
            await productVersionStore.post({
                name: payload,
                productId: props.productId,
            });
            productVersions.value = await productVersionStore.getAll(
                props.productId
            );
        } catch (e: unknown) {}
    });
}

function openPostVariantModal() {
    $q.dialog({
        title: 'Create new Product Variant',
        message: 'Enter a name',
        prompt: {
            model: '',
            type: 'text',
            isValid: ruleName,
        },
        cancel: true,
        persistent: true,
    }).onOk(async (payload: string) => {
        try {
            if (selectedVersion.value !== null) {
                const productVersionId = selectedVersion.value.id;
                await productVariantStore.post({
                    name: payload,
                    productVersionId,
                });
                productVariants.value = await productVariantStore.getAll(
                    productVersionId
                );
            } else {
                notifyError(
                    'Unexpectedly a selected product version was not found!'
                );
            }
        } catch (e: unknown) {}
    });
}

async function onVersionSelected() {
    try {
        if (selectedVersion.value !== null) {
            const versionId = selectedVersion.value.id;
            productVariants.value = await productVariantStore.getAll(versionId);
            resetSingleVariantInfos();
            emit('selectedVersion', versionId);
        } else {
            notifyError('Selected product version not found locally!');
        }
    } catch (e: unknown) {}
}

async function onVariantSelected() {
    try {
        if (selectedVariant.value !== null) {
            const variantId = selectedVariant.value.id;
            emit('selectedVariant', variantId);
        } else {
            notifyError('Selected product variant not found locally!');
        }
    } catch (e: unknown) {}
}

//type QDialogProps by merging types of matching Modal and QDialogOptions
type TypedQDialogProps = QDialogOptions & {
    componentProps: VersionOrVariantDialogProps;
};
function onManageVersions() {
    if (selectedVersion.value !== null) {
        const version = selectedVersion.value;
        $q.dialog({
            component: VersionOrVariantDialog,
            persistent: true,
            // props forwarded to your custom component
            componentProps: {
                entityName: version.name,
                entityType: 'product version',
            },
        } as TypedQDialogProps).onOk(
            async (payload: VersionOrVariantModalRequest) => {
                if (payload.type === 'PUT') {
                    try {
                        await productVersionStore.put(
                            { name: payload.name, productId: props.productId },
                            version.id
                        );
                        productVersions.value =
                            await productVersionStore.getAll(props.productId);
                        selectedVersion.value =
                            filteredVersionOptions.value.find(
                                (v) => v.id === version.id
                            ) ?? null;
                    } catch (e: unknown) {}
                } else if ('DELETE') {
                    try {
                        await productVersionStore.delete(version.id);
                        productVersionStore.resetSingleVersion();

                        //clear selected option and therefor also variants
                        productVersions.value =
                            await productVersionStore.getAll(props.productId);
                        resetVariantInfos();
                        selectedVersion.value = null;
                    } catch (e: unknown) {}
                } else {
                    notifyError(
                        buildInformAdminMsg(
                            'Unexpectedly entered unknown case:' + payload.type
                        )
                    );
                }
            }
        );
    } else {
        notifyError('Unexpectedly no product version is selected!');
    }
}

function resetVariantInfos() {
    resetSingleVariantInfos();
    productVariantStore.resetVariants();
}

function resetSingleVariantInfos() {
    productVariantStore.resetSingleVariant();
    selectedVariant.value = null;
}

function onManageVariants() {
    if (selectedVariant.value !== null) {
        const variant = selectedVariant.value;
        $q.dialog({
            component: VersionOrVariantDialog,
            persistent: true,
            // props forwarded to your custom component
            componentProps: {
                entityName: variant.name,
                entityType: 'product variant',
            },
        } as TypedQDialogProps).onOk(
            async (payload: VersionOrVariantModalRequest) => {
                if (selectedVersion.value !== null) {
                    const productVersionId = selectedVersion.value.id;
                    if (payload.type === 'PUT') {
                        try {
                            await productVariantStore.put(
                                { name: payload.name, productVersionId },
                                variant.id
                            );
                            productVariants.value =
                                await productVariantStore.getAll(
                                    productVersionId
                                );

                            selectedVariant.value =
                                filteredVariantOptions.value.find(
                                    (v) => v.id === variant.id
                                ) ?? null;
                        } catch (e: unknown) {}
                    } else if ('DELETE') {
                        try {
                            await productVariantStore.delete(variant.id);
                            productVariantStore.resetSingleVariant();

                            //clear selected option and therefor also variants
                            productVariants.value =
                                await productVariantStore.getAll(
                                    productVersionId
                                );
                            selectedVariant.value = null;
                        } catch (e: unknown) {}
                    } else {
                        notifyError(
                            buildInformAdminMsg(
                                'Unexpectedly entered unknown case:' +
                                    payload.type
                            )
                        );
                    }
                } else {
                    notifyError('Unexpectedly no product version is selected!');
                }
            }
        );
    } else {
        notifyError('Unexpectedly no product variant is selected!');
    }
}

function initializeSelectedVersion(): ProductVersion | null {
    return (
        productVersions.value.find((v) => v.name === DefaultVersionName) ?? null
    );
}

async function initializeSelectedVariant(): Promise<ProductVariant | null> {
    if (selectedVersion.value !== null) {
        productVariants.value = await productVariantStore.getAll(
            selectedVersion.value.id
        );
        return (
            productVariants.value.find((v) => v.name === DefaultVariantName) ??
            null
        );
    }
    return null;
}
</script>
