<template>
  <div>
    <q-btn :label="modalButtonLabel" :color="mutateButtonColor" @click.stop="openModal" :icon-right="mutateButtonIcon" />
    <q-dialog v-model="modalOpen" persistent>
      <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
        <q-card-section class="bg-primary">
          <q-toolbar>
            <q-toolbar-title class="text-h6 text-white text-bold text-center"
              style="word-wrap: break-word; white-space: inherit">
              {{ isUpdateRequest ? 'Modify' : 'New' }}
              {{ entityName }}
            </q-toolbar-title>
          </q-toolbar>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-form
            @submit="submit"
            @reset="closeModal"
            class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
          >
            <q-input
              filled
              type="text"
              v-model.trim="emailConfigForm.title"
              label="Title"
              lazy-rules
              :rules="formRuleTitle"
            />
            <q-separator></q-separator>
            <q-input
              filled
              type="text"
              v-model.trim="emailConfigForm.email"
              label="Email"
              lazy-rules
              :rules="formRuleEmail"
            />
            <q-separator></q-separator>
            <q-input
              filled
              type="password"
              v-model.trim="emailConfigForm.appPassword"
              label="App Password"
              lazy-rules
              :rules="formRuleAppPassword"
            >
              <q-tooltip max-width="150px">
                This is NOT your login password. App password will be provided when activating SMPT.
              </q-tooltip>
            </q-input>
            <q-separator></q-separator>
            <q-input
              filled
              type="text"
              v-model.trim="emailConfigForm.smtpServer"
              label="SMTP Server"
              lazy-rules
              :rules="formRuleSMTPServer"
            >
            <q-tooltip max-width="150px">
                Please look up the SMTP server the mail provider offers for usage.
              </q-tooltip>
            </q-input>

            <div class="row justify-between">
              <q-btn
                type="reset"
                :label="ButtonLabel.Cancel"
                :color="Color.Cancel"
                :text-color="TextColor.White"
                v-close-popup
              />
              <q-btn
                type="submit"
                :label="mutateButtonLabel"
                :color="mutateButtonColor"
                :text-color="TextColor.White"
                :disable="mutateRequestOnGoing"
                :loading="mutateRequestOnGoing"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script setup lang="ts">
import {
  QBtn,
  QCard,
  QCardSection,
  QDialog,
  QForm,
  QInput,
  QSeparator,
  QToolbar,
  QToolbarTitle,
  QTooltip,
  ValidationRule,
} from 'quasar';
import { matAddCircle, matEdit } from '@quasar/extras/material-icons';
import { ruleOptionalName } from 'src/utils/rules';
import { computed, ref } from 'vue';
import {
  ButtonLabel,
  Color,
  findNextHighestValue,
  notifySuccess,
  notifyWarn,
  TextColor,
} from 'src/utils/general-utils';
import { ok, err, Result } from '../utils/result-utils';
import { EmailConfigMutateDTO } from 'src/stores/email-config-store';
import { EmailConfig, EmailConfigPutDTO, EmailConfigPostDTO, useEmailConfigsStore } from 'src/stores/email-config-store';

interface MutateSequenceEmits {
    (e: 'updatedEmailConfig', id: number): void;
    (e: 'createdEmailConfig'): void;
}

const emit = defineEmits<MutateSequenceEmits>();

const modalOpen = ref(false);
const creatingEmailConfig = ref(false);
const updatingEmailConfig = ref(false);

const entityName = 'Email Config';

export interface MutateEmailConfigModalProps {
  emailConfigToUpdate?: EmailConfig;
  customModalButtonLabel?: string;
}

const props = defineProps<MutateEmailConfigModalProps>();

const emailConfigStore = useEmailConfigsStore();

const emailConfigForm = ref<EmailConfigMutateForm>(
  initEmailConfigMutateForm(props.emailConfigToUpdate)
);

interface EmailConfigPostForm {
  title: string | null;
  email: string | null;
  appPassword: string | null;
  smtpServer: string | null;
}

type EmailConfigUpdateForm = EmailConfigPostForm;
type EmailConfigMutateForm = EmailConfigPostForm | EmailConfigUpdateForm;

const isUpdateRequest = computed<boolean>(
  () => props.emailConfigToUpdate !== undefined
);

const mutateButtonLabel = computed<string>(() =>
  isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);

const modalButtonLabel = computed<string>(() =>
  props.customModalButtonLabel !== undefined
    ? props.customModalButtonLabel
    : mutateButtonLabel.value
);

const mutateButtonColor = computed<string>(() =>
  isUpdateRequest.value ? Color.Edit : Color.Create
);

const mutateButtonIcon = computed<string>(() =>
  isUpdateRequest.value ? matEdit : matAddCircle
);

const mutateRequestOnGoing = computed<boolean> ( () =>
  creatingEmailConfig.value || updatingEmailConfig.value
);

const formRuleTitle: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a title',
];

const formRuleEmail: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a email',
];

const formRuleAppPassword: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a app password',
];

const formRuleSMTPServer: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a smtp server',
];

function initEmailConfigMutateForm(emailConfigToUpdate? : EmailConfig ): EmailConfigPostForm {
  if( emailConfigToUpdate !== undefined) {
    const {title, email, smtpServer, appPassword } = emailConfigToUpdate;
    return {title, email, smtpServer, appPassword };
  }
  return {title: null, email: null, smtpServer: null, appPassword: null};
}

function openModal() {
  emailConfigForm.value = initEmailConfigMutateForm(props.emailConfigToUpdate);
  modalOpen.value = true;
}

function closeModal() {
  resetModal();
  modalOpen.value = false;
}

function resetModal() {
  const updateValue = initEmailConfigMutateForm(props.emailConfigToUpdate);
  emailConfigForm.value = updateValue;
}

function parseEmailConfigFormintoDto(
  form: EmailConfigMutateForm
): Result<EmailConfigMutateDTO> {
  const {title, email, smtpServer, appPassword } = form;

  if(title === null) {
    return err('Please provide a title');
  }

  if(email === null) {
    return err('Please provide an email');
  }

  if(smtpServer === null) {
    return err('Please provide a SMTP server');
  }

  if(appPassword === null) {
    return err('Please provide an App Password');
  }

  let value : EmailConfigMutateDTO = {
    title,
    email,
    smtpServer,
    appPassword
  }

  return ok(value);
}

async function submit() {
  const emailConfigMutateDtoResult = parseEmailConfigFormintoDto(emailConfigForm.value);

  if (emailConfigMutateDtoResult.isErr) {
    notifyWarn(emailConfigMutateDtoResult.error);
    return;
  }
  if (props.emailConfigToUpdate !== undefined) {
    await updateEmailConfig(
      emailConfigMutateDtoResult.value,
      props.emailConfigToUpdate.id
    );
    emit('updatedEmailConfig', props.emailConfigToUpdate.id);
  } else {
    await createEmailConfig(emailConfigMutateDtoResult.value);
    emit('createdEmailConfig');
  }
  closeModal();
}

async function updateEmailConfig(
  emailConfigPutDto: EmailConfigPutDTO,
  emailConfigId: number
) {
  updatingEmailConfig.value = true;

  try {
    await emailConfigStore.put(emailConfigPutDto, emailConfigId);
    notifySuccess('Updated EmailConfig')
  } catch (e: unknown) {}

  updatingEmailConfig.value = false;
}

async function createEmailConfig(
  emailConfigPostDto: EmailConfigPostDTO
) {
  creatingEmailConfig.value = true;

  try {
    await emailConfigStore.post(emailConfigPostDto);
    notifySuccess('Created Email Config');
  } catch (e: unknown) {}

  creatingEmailConfig.value = false;
}

</script>
