<template>
    <div class="q-pa-md q-gutter-sm">
        <q-btn
            :label="mutateButtonLabel"
            :color="mutateButtonColor"
            @click.stop="openModal"
            :icon-right="mutateButtonIcon"
            :text-color="TextColor.White"
        />

        <q-dialog v-model="newProductModalOpen" persistent>
            <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
                <q-card-section class="bg-primary">
                    <q-toolbar>
                        <q-toolbar-title
                            class="text-h6 text-white text-bold text-center"
                            style="word-wrap: break-word; white-space: inherit"
                        >
                            {{ isUpdateRequest ? 'Modify' : 'New' }} Product
                        </q-toolbar-title>
                    </q-toolbar>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <q-form
                        @submit="submit"
                        @reset="closeModal"
                        class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
                    >
                        <q-input
                            filled
                            type="text"
                            v-model.trim="productForm.name"
                            label="Name *"
                            lazy-rules
                            :rules="formRulesName"
                        />

                        <q-toggle
                            v-model="productForm.isPublic"
                            label="Show as public"
                            left-label
                        />
                        <q-separator></q-separator>
                        <q-input
                            type="textarea"
                            v-model.trim="productForm.description"
                            label="Description"
                        ></q-input>
                        <div class="row justify-between">
                            <q-btn
                                type="reset"
                                :label="ButtonLabel.Cancel"
                                :color="Color.Cancel"
                                :text-color="TextColor.White"
                                v-close-popup
                            />
                            <q-btn
                                type="submit"
                                :label="mutateButtonLabel"
                                :color="mutateButtonColor"
                                :text-color="TextColor.White"
                                :disable="mutateRequestOnGoing"
                                :loading="mutateRequestOnGoing"
                            />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToggle,
    QToolbar,
    QToolbarTitle,
    ValidationRule,
} from 'quasar';
import {
    Product,
    ProductMutateDTO,
    ProductPostDTO,
    ProductPutDTO,
    useProductStore,
} from 'src/stores/product-store';
import { computed, ref } from 'vue';
import { matAddCircle, matEdit } from '@quasar/extras/material-icons';
import { err, ok, Result } from 'src/utils/result-utils';
import {
    buildInformAdminMsg,
    ButtonLabel,
    Color,
    notifyError,
    notifySuccess,
    notifyWarn,
    TextColor,
} from 'src/utils/general-utils';
import { ruleOptionalName } from 'src/utils/rules';
import { useProductVersionStore } from 'src/stores/product-version-store';
import { DefaultVariantName, DefaultVersionName } from 'src/utils/store-utils';
import { useProductVariantStore } from 'src/stores/product-variant-store';

// if productToUpdate is available we send a PUT Request else we send POST Request
const props = defineProps<{ productToUpdate?: Product }>();
const isUpdateRequest = computed<boolean>(
    () => props.productToUpdate !== undefined
);
const mutateRequestOnGoing = computed<boolean>(
    () => creatingProduct.value || updatingProduct.value
);

const mutateButtonLabel = computed<string>(() =>
    isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);
const mutateButtonColor = computed<string>(() =>
    isUpdateRequest.value ? Color.Edit : Color.Create
);
const mutateButtonIcon = computed<string>(() =>
    isUpdateRequest.value ? matEdit : matAddCircle
);

const newProductModalOpen = ref(false);
const creatingProduct = ref(false);
const updatingProduct = ref(false);

interface MutateProductEmits {
    (e: 'updatedProduct', id: number): void;
    (e: 'createdProduct'): void;
    (e: 'actionFailed'): void;
}
const emit = defineEmits<MutateProductEmits>();

const productStore = useProductStore();
const productVersionStore = useProductVersionStore();
const productVariantStore = useProductVariantStore();

interface ProductPostForm {
    name: string | null;
    isPublic: boolean;
    description: string | null;
}
type ProductUpdateForm = ProductPostForm;
type ProductMutateForm = ProductPostForm | ProductUpdateForm;

const productForm = ref<ProductMutateForm>(
    initProductMutateForm(props.productToUpdate)
);

const formRulesName: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a name',
];

function parseProductFormIntoDto(
    form: ProductMutateForm
): Result<ProductMutateDTO> {
    const { name, isPublic, description } = form;

    if (name === null) {
        return err('Please provide a Product name!');
    }
    let value: ProductMutateDTO = { name, isPublic, description };
    return ok(value);
}

async function submit() {
    const productMutateDtoResult = parseProductFormIntoDto(productForm.value);
    if (productMutateDtoResult.isErr) {
        notifyWarn(productMutateDtoResult.error);
        return;
    }
    if (props.productToUpdate !== undefined) {
        await updateProduct(
            productMutateDtoResult.value,
            props.productToUpdate.id
        );
    } else {
        await createProductWithDefaults(productMutateDtoResult.value);
    }
    closeModal();
}

function openModal() {
    productForm.value = initProductMutateForm(props.productToUpdate);
    newProductModalOpen.value = true;
}

function closeModal() {
    resetModal();
    newProductModalOpen.value = false;
}

function resetModal() {
    const updateValue = initProductMutateForm(props.productToUpdate);
    productForm.value = updateValue;
}

function initProductMutateForm(productToUpdate?: Product): ProductPostForm {
    if (productToUpdate !== undefined) {
        const { name, isPublic, description } = productToUpdate;
        return { name, isPublic, description };
    }
    return { name: null, isPublic: false, description: null };
}

async function updateProduct(productPutDto: ProductPutDTO, productId: number) {
    updatingProduct.value = true;
    try {
        await productStore.put(productPutDto, productId);
        notifySuccess('Updated Product');
        emit('updatedProduct', productId);
    } catch (e: unknown) {}
    updatingProduct.value = false;
}

async function createProductWithDefaults(productPostDto: ProductPostDTO) {
    creatingProduct.value = true;
    try {
        const createdProduct = await productStore.post(productPostDto);
        try {
            await createDefaultVersionAndVariant(createdProduct.id);
            notifySuccess('Created Product');
            emit('createdProduct');
        } catch (e: unknown) {
            notifyError(
                buildInformAdminMsg(
                    'Failed creating Product with default version and variant!'
                )
            );
            emit('actionFailed');
            await productStore.delete(createdProduct.id);
        }
    } catch (e: unknown) {}
    creatingProduct.value = false;
}

async function createDefaultVersionAndVariant(productId: number) {
    const createdProductVersion = await productVersionStore.post({
        name: DefaultVersionName,
        productId,
    });
    await productVariantStore.post({
        name: DefaultVariantName,
        productVersionId: createdProductVersion.id,
    });
}
</script>
