<template>
  <div>
    <q-btn
      :label="modalButtonLabel"
      :color="Color.Edit"
      @click.stop="openModal"
      :icon-right="matEdit"
      :text-color="TextColor.white"
    />

    <q-dialog v-model="modalOpen" persistent>
      <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
        <q-card-section class="bg-primary">
          <q-toolbar>
            <q-toolbar-title
              class="text-h6 text-white text-bold text-center"
              style="word-wrap: break-word; white-space: inherit"
            >
              Modify email template
            </q-toolbar-title>
          </q-toolbar>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-form
            @submit="submit"
            @reset="closeModal"
            class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
          >
            <q-input
              filled
              type="text"
              v-model.trim="emailTemplateForm.name"
              label="Name"
              lazy-rules
              disable
              :rules="formRulesName"
            />
            <q-separator></q-separator>
            <q-input
              filled
              type="textarea"
              v-model.trim="emailTemplateForm.content"
              label="Content"
              lazy-rules
              :rules="formRulesContent"

            />
            <q-separator></q-separator>
            <q-select
              v-model="selectedEmailConfig.title"
              :options="emailConfigs"
              label="EmailConfig"
              @update:model-value="updateSelectedEmailConfig"
            >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps">
                  <q-item-section>
                    <q-item-label>{{ scope.opt.title }}</q-item-label>
                    <q-item-label caption>{{ scope.opt.email }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-separator></q-separator>
            <div class="row justify-between">
              <q-btn
                type="reset"
                :label="ButtonLabel.Cancel"
                :color="Color.Cancel"
                :text-color="TextColor.White"
                v-close-popup
              />
              <q-btn
                type="submit"
                :label="mutateButtonLabel"
                :color="mutateButtonColor"
                :text-color="TextColor.White"
              />
            </div>


          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToolbar,
    QToolbarTitle,
    QTooltip,
    ValidationRule,
} from 'quasar';
import { ref, computed } from 'vue';
import {
    ButtonLabel,
    Color,
    findNextHighestValue,
    notifySuccess,
    notifyWarn,
    TextColor,
} from 'src/utils/general-utils';
import { EmailTemplate, EmailTemplatePutDTO, useEmailTemplateStore } from 'src/stores/email-template-store';
import {ruleOptionalName} from "src/utils/rules";
import { ok, err, Result } from '../utils/result-utils';
import { useEmailConfigsStore } from 'src/stores/email-config-store';
import { storeToRefs } from 'pinia';
import { watch } from 'fs';

export interface MutateEmailTemplateModalProps {
  emailTemplateToUpdate: EmailTemplate;
  customModalButtonLabel?: string;
}

const emailConfigStore = useEmailConfigsStore();
const { emailConfigs } = storeToRefs(emailConfigStore);
const emailOptions = JSON.parse(JSON.stringify(emailConfigs.value));

await fetchEmailConfigs();

async function fetchEmailConfigs() {
  await emailConfigStore.getAll();
}

const emailTemplateStore = useEmailTemplateStore();
const modalOpen = ref(false);
const props = defineProps<MutateEmailTemplateModalProps>();

const isUpdateRequest = computed<boolean>(
    () => props.emailTemplateToUpdate !== undefined
);

const mutateButtonLabel = computed<string>(() =>
    isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);

const modalButtonLabel = computed<string>(() =>
    props.customModalButtonLabel !== undefined
        ? props.customModalButtonLabel
        : mutateButtonLabel.value
);

const formRulesName: ValidationRule[] = [
  (v) => ruleOptionalName(v) || 'Enter a name',
];

const formRulesContent: ValidationRule[] = [
  (v) => ruleOptionalName(v) || 'Enter the content of the mail',
];

const mutateButtonColor = computed<string>(() =>
  isUpdateRequest.value ? Color.Edit : Color.Create
);

function openModal() {
    modalOpen.value = true;
}

function closeModal() {
    modalOpen.value = false;
}

interface EmailTemplateMutateForm {
    name: string | null;
    content: string | null;
    emailConfigId: number | null;
}

const emailTemplateForm = ref<EmailTemplateMutateForm>(
    initEmailTemplateMutateForm(props.emailTemplateToUpdate)
);

const selectedEmailConfig = ref(emailOptions.find(config => config.id === emailTemplateForm.value.emailConfigId));

function updateSelectedEmailConfig(value) {
  selectedEmailConfig.value = emailOptions.find(config => config.id === value.id);
}

function initEmailTemplateMutateForm(emailTemplateToUpdate?: EmailTemplate): EmailTemplateMutateForm {
    console.log(emailTemplateToUpdate);

    if (emailTemplateToUpdate !== undefined) {
        const { name, content, emailConfigId } = emailTemplateToUpdate;
        return { name, content, emailConfigId };
    }
    return { name: null, content: null, emailConfigId: null };
}

function parseEmailTemplateFormIntoDto(
  form: EmailTemplateMutateForm
) : Result<EmailTemplatePutDTO> {
  const { name, content } = form;

  if( name === null) {
    return err('Please provide a name');
  }

  if( content === null) {
    return err('Please provide content for the email')
  }

  if( props.emailTemplateToUpdate === null || props.emailTemplateToUpdate === undefined) {
    return err('Unexpectedly there is no email template to update')
  }

  if(selectedEmailConfig.value === null) {
    return err('Unexpectedly there is no email config assigned to this email template');
  }

  let emailConfigIdTemp = selectedEmailConfig.value ? selectedEmailConfig.value.id : -1

  let value : EmailTemplatePutDTO = {
    name,
    content,
    emailConfigId: emailConfigIdTemp,
  };

  return ok(value);

}

async function updateEmailTemplate(
  emailTemplatePutDTO: EmailTemplatePutDTO,
  emailTemplateId: number
) {

  try {
    await emailTemplateStore.put(emailTemplatePutDTO, emailTemplateId);
    notifySuccess('Email Template has been updated');
  } catch (e: unknown) {

  }
}

async function submit() {
    const emailTemplateMutateDtoResult = parseEmailTemplateFormIntoDto(emailTemplateForm.value);

    if(emailTemplateMutateDtoResult.isErr) {
      notifyWarn(emailTemplateMutateDtoResult.error);
      return;
    }

    await updateEmailTemplate(
      emailTemplateMutateDtoResult.value,
      props.emailTemplateToUpdate.id
    );

    closeModal();
}


</script>
