<template>
    <div class="q-pa-md q-gutter-sm">
        <q-btn
            :label="mutateButtonLabel"
            :color="mutateButtonColor"
            @click.stop="openModal"
            :icon-right="mutateButtonIcon"
            :text-color="TextColor.White"
        />

        <q-dialog v-model="modalOpen" persistent>
            <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
                <q-card-section class="bg-primary">
                    <q-toolbar>
                        <q-toolbar-title
                            class="text-h6 text-white text-bold text-center"
                            style="word-wrap: break-word; white-space: inherit"
                        >
                            {{ isUpdateRequest ? 'Modify' : 'New' }}
                            {{ entityName }}
                        </q-toolbar-title>
                    </q-toolbar>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <q-form
                        @submit="submit"
                        @reset="closeModal"
                        class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
                    >
                        <q-input
                            filled
                            type="text"
                            v-model.trim="testSequenceForm.name"
                            label="Name *"
                            lazy-rules
                            :rules="formRulesName"
                        />
                        <q-separator></q-separator>
                        <q-input
                            type="textarea"
                            v-model.trim="testSequenceForm.description"
                            label="Description (*)"
                        >
                        </q-input>
                        <q-input
                            type="textarea"
                            v-model.trim="testSequenceForm.precondition"
                            label="Precondition (*)"
                        >
                            <q-tooltip max-width="150px">
                                Specify actions that have to be taken before the
                                execution of every test case inside a test
                                sequence.
                            </q-tooltip>
                        </q-input>
                        <div class="row justify-between">
                            <q-btn
                                type="reset"
                                :label="ButtonLabel.Cancel"
                                :color="Color.Cancel"
                                :text-color="TextColor.White"
                                v-close-popup
                            />
                            <q-btn
                                type="submit"
                                :label="mutateButtonLabel"
                                :color="mutateButtonColor"
                                :text-color="TextColor.White"
                                :disable="mutateRequestOnGoing"
                                :loading="mutateRequestOnGoing"
                            />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToolbar,
    QToolbarTitle,
    ValidationRule,
} from 'quasar';
import {
    TestSequenceMutateDTO,
    TestSequencePostDTO,
    TestSequencePutDTO,
} from 'src/stores/test-sequence-store';
import { computed, ref } from 'vue';
import { matAddCircle, matEdit } from '@quasar/extras/material-icons';
import { err, ok, Result } from 'src/utils/result-utils';
import {
    ButtonLabel,
    Color,
    notifySuccess,
    notifyWarn,
    TextColor,
} from 'src/utils/general-utils';
import { ruleOptionalName } from 'src/utils/rules';
import {
    TestSequence,
    useTestSequenceStore,
} from 'src/stores/test-sequence-store';
import { useProductVariantStore } from 'src/stores/product-variant-store';
import { storeToRefs } from 'pinia';

const entityName = 'Test Sequence';
// if testSequenceToUpdate is available we send a PUT Request else we send POST Request
const props = defineProps<{ testSequenceToUpdate?: TestSequence }>();
const isUpdateRequest = computed<boolean>(
    () => props.testSequenceToUpdate !== undefined
);
const mutateRequestOnGoing = computed<boolean>(
    () => creatingTestSequence.value || updatingTestSequence.value
);

const mutateButtonLabel = computed<string>(() =>
    isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);
const mutateButtonColor = computed<string>(() =>
    isUpdateRequest.value ? Color.Edit : Color.Create
);
const mutateButtonIcon = computed<string>(() =>
    isUpdateRequest.value ? matEdit : matAddCircle
);

const modalOpen = ref(false);
const creatingTestSequence = ref(false);
const updatingTestSequence = ref(false);

interface MutateSequenceEmits {
    (e: 'updatedTestSequence', id: number): void;
    (e: 'createdTestSequence'): void;
}
const emit = defineEmits<MutateSequenceEmits>();

const testSequenceStore = useTestSequenceStore();
const productVariantStore = useProductVariantStore();
const { singleProductVariant } = storeToRefs(productVariantStore);

interface TestSequencePostForm {
    name: string | null;
    description: string | null;
    precondition: string | null;
}
type TestSequenceUpdateForm = TestSequencePostForm;
type TestSequenceMutateForm = TestSequencePostForm | TestSequenceUpdateForm;

const testSequenceForm = ref<TestSequenceMutateForm>(
    initTestSequenceMutateForm(props.testSequenceToUpdate)
);
const formRulesName: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a name',
];

function parseTestSequenceFormIntoDto(
    form: TestSequenceMutateForm
): Result<TestSequenceMutateDTO> {
    const { name, description, precondition } = form;

    if (name === null) {
        return err('Please provide a Test Sequence name!');
    }
    if (singleProductVariant.value === null) {
        return err('Unexpectedly no Product Variant can be found locally!');
    }
    let value: TestSequenceMutateDTO = {
        name,
        description,
        precondition,
        productVariantId: singleProductVariant.value.id,
    };
    return ok(value);
}

async function submit() {
    const testSequenceMutateDtoResult = parseTestSequenceFormIntoDto(
        testSequenceForm.value
    );
    if (testSequenceMutateDtoResult.isErr) {
        notifyWarn(testSequenceMutateDtoResult.error);
        return;
    }
    if (props.testSequenceToUpdate !== undefined) {
        await updateTestSequence(
            testSequenceMutateDtoResult.value,
            props.testSequenceToUpdate.id
        );
        emit('updatedTestSequence', props.testSequenceToUpdate.id);
    } else {
        await createTestSequence(testSequenceMutateDtoResult.value);
        emit('createdTestSequence');
    }
    closeModal();
}

function openModal() {
    testSequenceForm.value = initTestSequenceMutateForm(
        props.testSequenceToUpdate
    );
    modalOpen.value = true;
}

function closeModal() {
    resetModal();
    modalOpen.value = false;
}

function resetModal() {
    const updateValue = initTestSequenceMutateForm(props.testSequenceToUpdate);
    testSequenceForm.value = updateValue;
}

function initTestSequenceMutateForm(
    testSequenceToUpdate?: TestSequence
): TestSequencePostForm {
    if (testSequenceToUpdate !== undefined) {
        const { name, description, precondition } = testSequenceToUpdate;
        return { name, description, precondition };
    }
    return { name: null, description: null, precondition: null };
}

async function updateTestSequence(
    testSequencePutDto: TestSequencePutDTO,
    testSequenceId: number
) {
    updatingTestSequence.value = true;
    try {
        await testSequenceStore.put(testSequencePutDto, testSequenceId);
        notifySuccess('Updated Test Sequence');
    } catch (e: unknown) {}
    updatingTestSequence.value = false;
}

async function createTestSequence(testSequencePostDto: TestSequencePostDTO) {
    creatingTestSequence.value = true;
    try {
        await testSequenceStore.post(testSequencePostDto);
        notifySuccess('Created Test Sequence');
    } catch (e: unknown) {}
    creatingTestSequence.value = false;
}
</script>
