<template>
    <div>
        <q-btn
            :label="modalButtonLabel"
            :color="mutateButtonColor"
            @click.stop="openModal"
            :icon-right="mutateButtonIcon"
            :text-color="TextColor.White"
        />

        <q-dialog v-model="modalOpen" persistent>
            <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
                <q-card-section class="bg-primary">
                    <q-toolbar>
                        <q-toolbar-title
                            class="text-h6 text-white text-bold text-center"
                            style="word-wrap: break-word; white-space: inherit"
                        >
                            {{ isUpdateRequest ? 'Modify' : 'New' }}
                            {{ entityName }}
                        </q-toolbar-title>
                    </q-toolbar>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <q-form
                        @submit="submit"
                        @reset="closeModal"
                        class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
                    >
                        <q-input
                            filled
                            type="text"
                            v-model.trim="testStepForm.instruction"
                            label="Instruction *"
                            lazy-rules
                            :rules="formRulesInstruction"
                        />
                        <q-separator></q-separator>
                        <q-input
                            filled
                            type="text"
                            v-model.trim="testStepForm.expectedResult"
                            label="Expected result *"
                            lazy-rules
                            :rules="formRulesExpectedResult"
                        />
                        <q-separator></q-separator>
                        <div class="row justify-between">
                            <q-btn
                                type="reset"
                                :label="ButtonLabel.Cancel"
                                :color="Color.Cancel"
                                :text-color="TextColor.White"
                                v-close-popup
                            />
                            <q-btn
                                type="submit"
                                :label="mutateButtonLabel"
                                :color="mutateButtonColor"
                                :text-color="TextColor.White"
                                :disable="mutateRequestOnGoing"
                                :loading="mutateRequestOnGoing"
                            />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToolbar,
    QToolbarTitle,
    ValidationRule,
} from 'quasar';
import { computed, ref } from 'vue';
import { matAddCircle, matEdit } from '@quasar/extras/material-icons';
import { err, ok, Result } from 'src/utils/result-utils';
import {
    ButtonLabel,
    Color,
    findNextHighestValue,
    notifySuccess,
    notifyWarn,
    TextColor,
} from 'src/utils/general-utils';
import { ruleOptionalName } from 'src/utils/rules';
import { useTestCaseStore } from 'src/stores/test-case-store';
import { storeToRefs } from 'pinia';
import {
    TestStep,
    TestStepMutateDTO,
    TestStepPostDTO,
    TestStepPutDTO,
    useTestStepStore,
} from 'src/stores/test-step-store';

export interface MutateTestCaseModalProps {
    testStepToUpdate?: TestStep;
    customModalButtonLabel?: string;
}
const entityName = 'Test Step';
// if testCaseToUpdate is available we send a PUT Request else we send POST Request
const props = defineProps<MutateTestCaseModalProps>();
const isUpdateRequest = computed<boolean>(
    () => props.testStepToUpdate !== undefined
);
const mutateRequestOnGoing = computed<boolean>(
    () => creatingTestStep.value || updatingTestStep.value
);

const mutateButtonLabel = computed<string>(() =>
    isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);
const modalButtonLabel = computed<string>(() =>
    props.customModalButtonLabel !== undefined
        ? props.customModalButtonLabel
        : mutateButtonLabel.value
);
const mutateButtonColor = computed<string>(() =>
    isUpdateRequest.value ? Color.Edit : Color.Create
);
const mutateButtonIcon = computed<string>(() =>
    isUpdateRequest.value ? matEdit : matAddCircle
);

const modalOpen = ref(false);
const creatingTestStep = ref(false);
const updatingTestStep = ref(false);

interface MutateSequenceEmits {
    (e: 'updatedTestStep', id: number): void;
    (e: 'createdTestStep'): void;
}
const emit = defineEmits<MutateSequenceEmits>();

const testStepStore = useTestStepStore();
const { testSteps } = storeToRefs(testStepStore);
const testCaseStore = useTestCaseStore();
const { singleTestCase } = storeToRefs(testCaseStore);

interface TestStepPostForm {
    instruction: string | null;
    expectedResult: string | null;
}
type TestStepUpdateForm = TestStepPostForm;
type TestStepMutateForm = TestStepPostForm | TestStepUpdateForm;

const testStepForm = ref<TestStepMutateForm>(
    initTestStepMutateForm(props.testStepToUpdate)
);
const formRulesInstruction: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter instruction',
];
const formRulesExpectedResult: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter expected result',
];

function parseTestStepFormIntoDto(
    form: TestStepMutateForm
): Result<TestStepMutateDTO> {
    const { instruction, expectedResult } = form;

    if (instruction === null) {
        return err('Please provide an instruction!');
    }
    if (expectedResult === null) {
        return err('Please provide an expected result!');
    }
    if (singleTestCase.value === null) {
        //TODO: should this require special handling like returning to all testSequences? Or should user resolve it himself (maybe add instruction)
        return err('Unexpectedly no Test Sequence can be found locally!');
    }
    const nextHighestValueResult = findNextHighestValue(
        testSteps.value.map((v) => v.testCaseIndex)
    );
    if (nextHighestValueResult.isErr) {
        return nextHighestValueResult;
    }
    let value: TestStepMutateDTO = {
        instruction,
        expectedResult,
        testCaseId: singleTestCase.value.id,
        testCaseIndex: nextHighestValueResult.value,
    };

    return ok(value);
}

async function submit() {
    const testStepMutateDtoResult = parseTestStepFormIntoDto(
        testStepForm.value
    );
    if (testStepMutateDtoResult.isErr) {
        notifyWarn(testStepMutateDtoResult.error);
        return;
    }
    if (props.testStepToUpdate !== undefined) {
        await updateTestStep(
            testStepMutateDtoResult.value,
            props.testStepToUpdate.id
        );
        emit('updatedTestStep', props.testStepToUpdate.id);
    } else {
        await createTestStep(testStepMutateDtoResult.value);
        emit('createdTestStep');
    }
    closeModal();
}

function openModal() {
    testStepForm.value = initTestStepMutateForm(props.testStepToUpdate);
    modalOpen.value = true;
}

function closeModal() {
    resetModal();
    modalOpen.value = false;
}

function resetModal() {
    const updateValue = initTestStepMutateForm(props.testStepToUpdate);
    testStepForm.value = updateValue;
}

function initTestStepMutateForm(testStepToUpdate?: TestStep): TestStepPostForm {
    if (testStepToUpdate !== undefined) {
        const { instruction, expectedResult } = testStepToUpdate;
        return { instruction, expectedResult };
    }
    return { instruction: null, expectedResult: null };
}

async function updateTestStep(
    testStepPutDto: TestStepPutDTO,
    testStepId: number
) {
    updatingTestStep.value = true;
    try {
        await testStepStore.put(testStepPutDto, testStepId);
        notifySuccess('Updated Test Step');
    } catch (e: unknown) {}
    updatingTestStep.value = false;
}

async function createTestStep(testCasePostDto: TestStepPostDTO) {
    creatingTestStep.value = true;
    try {
        await testStepStore.post(testCasePostDto);
        notifySuccess('Created Test Case');
    } catch (e: unknown) {}
    creatingTestStep.value = false;
}
</script>
