<template>
    <div>
        <q-btn
            :label="modalButtonLabel"
            :color="mutateButtonColor"
            @click.stop="openModal"
            :icon-right="mutateButtonIcon"
            :text-color="TextColor.White"
        />

        <q-dialog v-model="modalOpen" persistent>
            <q-card class="bg-white" style="max-width: 400px; min-width: 300px">
                <q-card-section class="bg-primary">
                    <q-toolbar>
                        <q-toolbar-title
                            class="text-h6 text-white text-bold text-center"
                            style="word-wrap: break-word; white-space: inherit"
                        >
                            {{ isUpdateRequest ? 'Modify' : 'New' }}
                            {{ entityName }}
                        </q-toolbar-title>
                    </q-toolbar>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <q-form
                        @submit="submit"
                        @reset="closeModal"
                        class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
                    >
                        <q-input
                            filled
                            type="text"
                            v-model.trim="testCaseForm.name"
                            label="Name *"
                            lazy-rules
                            :rules="formRulesName"
                        />
                        <q-separator></q-separator>
                        <q-input
                            type="textarea"
                            v-model.trim="testCaseForm.description"
                            label="Description (*)"
                        >
                        </q-input>
                        <q-input
                            type="textarea"
                            v-model.trim="testCaseForm.precondition"
                            label="Precondition (*)"
                        >
                            <q-tooltip max-width="150px">
                                Specify actions that have to be taken before the
                                execution of every test step inside a test case.
                            </q-tooltip>
                        </q-input>
                        <div class="row justify-between">
                            <q-btn
                                type="reset"
                                :label="ButtonLabel.Cancel"
                                :color="Color.Cancel"
                                :text-color="TextColor.White"
                                v-close-popup
                            />
                            <q-btn
                                type="submit"
                                :label="mutateButtonLabel"
                                :color="mutateButtonColor"
                                :text-color="TextColor.White"
                                :disable="mutateRequestOnGoing"
                                :loading="mutateRequestOnGoing"
                            />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </q-dialog>
    </div>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToolbar,
    QToolbarTitle,
    QTooltip,
    ValidationRule,
} from 'quasar';
import {
    TestCaseMutateDTO,
    TestCasePostDTO,
    TestCasePutDTO,
    TestCase,
    useTestCaseStore,
} from 'src/stores/test-case-store';
import { computed, ref } from 'vue';
import { matAddCircle, matEdit } from '@quasar/extras/material-icons';
import { err, ok, Result } from 'src/utils/result-utils';
import {
    ButtonLabel,
    Color,
    findNextHighestValue,
    notifySuccess,
    notifyWarn,
    TextColor,
} from 'src/utils/general-utils';
import { ruleOptionalName } from 'src/utils/rules';
import { storeToRefs } from 'pinia';
import { useTestSequenceStore } from 'src/stores/test-sequence-store';

export interface MutateTestCaseModalProps {
    testCaseToUpdate?: TestCase;
    customModalButtonLabel?: string;
}
const entityName = 'Test Case';
// if testCaseToUpdate is available we send a PUT Request else we send POST Request
const props = defineProps<MutateTestCaseModalProps>();
const isUpdateRequest = computed<boolean>(
    () => props.testCaseToUpdate !== undefined
);
const mutateRequestOnGoing = computed<boolean>(
    () => creatingTestCase.value || updatingTestCase.value
);

const mutateButtonLabel = computed<string>(() =>
    isUpdateRequest.value ? ButtonLabel.Edit : ButtonLabel.Create
);
const modalButtonLabel = computed<string>(() =>
    props.customModalButtonLabel !== undefined
        ? props.customModalButtonLabel
        : mutateButtonLabel.value
);
const mutateButtonColor = computed<string>(() =>
    isUpdateRequest.value ? Color.Edit : Color.Create
);
const mutateButtonIcon = computed<string>(() =>
    isUpdateRequest.value ? matEdit : matAddCircle
);

const modalOpen = ref(false);
const creatingTestCase = ref(false);
const updatingTestCase = ref(false);

interface MutateSequenceEmits {
    (e: 'updatedTestCase', id: number): void;
    (e: 'createdTestCase'): void;
}
const emit = defineEmits<MutateSequenceEmits>();

const testCaseStore = useTestCaseStore();
const { testCases } = storeToRefs(testCaseStore);
const testSequenceStore = useTestSequenceStore();
const { singleTestSequence } = storeToRefs(testSequenceStore);

interface TestCasePostForm {
    name: string | null;
    description: string | null;
    precondition: string | null;
}
type TestCaseUpdateForm = TestCasePostForm;
type TestCaseMutateForm = TestCasePostForm | TestCaseUpdateForm;

const testCaseForm = ref<TestCaseMutateForm>(
    initTestCaseMutateForm(props.testCaseToUpdate)
);
const formRulesName: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a name',
];

function parseTestCaseFormIntoDto(
    form: TestCaseMutateForm
): Result<TestCaseMutateDTO> {
    const { name, description, precondition } = form;

    if (name === null) {
        return err('Please provide a Test Case name!');
    }
    if (singleTestSequence.value === null) {
        return err('Unexpectedly no Test Sequence can be found locally!');
    }
    const nextHighestValueResult = findNextHighestValue(
        testCases.value.map((v) => v.testSequenceIndex)
    );
    if (nextHighestValueResult.isErr) {
        return nextHighestValueResult;
    }
    let value: TestCaseMutateDTO = {
        name,
        description,
        precondition,
        testSequenceId: singleTestSequence.value.id,
        testSequenceIndex: nextHighestValueResult.value,
    };

    return ok(value);
}

async function submit() {
    const testCaseMutateDtoResult = parseTestCaseFormIntoDto(
        testCaseForm.value
    );
    if (testCaseMutateDtoResult.isErr) {
        notifyWarn(testCaseMutateDtoResult.error);
        return;
    }
    if (props.testCaseToUpdate !== undefined) {
        await updateTestCase(
            testCaseMutateDtoResult.value,
            props.testCaseToUpdate.id
        );
        emit('updatedTestCase', props.testCaseToUpdate.id);
    } else {
        await createTestCase(testCaseMutateDtoResult.value);
        emit('createdTestCase');
    }
    closeModal();
}

function openModal() {
    testCaseForm.value = initTestCaseMutateForm(props.testCaseToUpdate);
    modalOpen.value = true;
}

function closeModal() {
    resetModal();
    modalOpen.value = false;
}

function resetModal() {
    const updateValue = initTestCaseMutateForm(props.testCaseToUpdate);
    testCaseForm.value = updateValue;
}

function initTestCaseMutateForm(testCaseToUpdate?: TestCase): TestCasePostForm {
    if (testCaseToUpdate !== undefined) {
        const { name, description, precondition } = testCaseToUpdate;
        return { name, description, precondition };
    }
    return { name: null, description: null, precondition: null };
}

async function updateTestCase(
    testCasePutDto: TestCasePutDTO,
    testCaseId: number
) {
    updatingTestCase.value = true;
    try {
        await testCaseStore.put(testCasePutDto, testCaseId);
        notifySuccess('Updated Test Case');
    } catch (e: unknown) {}
    updatingTestCase.value = false;
}

async function createTestCase(testCasePostDto: TestCasePostDTO) {
    creatingTestCase.value = true;
    try {
        await testCaseStore.post(testCasePostDto);
        notifySuccess('Created Test Case');
    } catch (e: unknown) {}
    creatingTestCase.value = false;
}
</script>
