<template>
    <q-linear-progress
        :color="props.color"
        style="min-width: 50px"
        size="25px"
        :value="props.percentage"
        instant-feedback
        rounded
    >
        <div class="absolute-full flex flex-center">
            <q-tooltip v-if="props.tooltip">{{ props.tooltip }}</q-tooltip>
            <q-badge
                v-if="props.indicatorLabel"
                :color="props.color"
                text-color="white"
                :label="props.indicatorLabel"
            />
        </div>
    </q-linear-progress>
</template>

<script setup lang="ts">
type ProgressBarProps = {
    //only quasar palette colors
    color: string;
    percentage: number;
    indicatorLabel?: string;
    tooltip?: string;
};

const props = withDefaults(defineProps<ProgressBarProps>(), {
    color: 'primary',
});
</script>
