<template>
    <q-dialog ref="dialogRef" @hide="onDialogHide" persistent>
        <q-card
            class="q-dialog-plugin bg-white"
            style="max-width: 400px; min-width: 300px"
        >
            <q-card-section class="bg-primary">
                <q-toolbar>
                    <q-toolbar-title
                        class="text-h6 text-white text-bold text-center"
                        style="word-wrap: break-word; white-space: inherit"
                    >
                        Manage {{ props.entityType }} {{ props.entityName }}
                    </q-toolbar-title>
                </q-toolbar>
            </q-card-section>
            <q-separator />
            <q-card-section>
                <q-form
                    @submit="onOKClick"
                    @reset="onCancelClick"
                    class="q-gutter-md q-pt-md q-pt-sm q-pt-xs"
                >
                    <q-input
                        filled
                        type="text"
                        v-model.trim="versionOrVariantForm.name"
                        label="Name *"
                        lazy-rules
                        :rules="formRulesName"
                    />
                    <q-separator></q-separator>
                    <div class="row justify-between">
                        <q-btn
                            type="reset"
                            :label="ButtonLabel.Cancel"
                            :color="Color.Cancel"
                            :text-color="TextColor.White"
                            v-close-popup
                        />
                        <q-btn
                            :label="ButtonLabel.Delete"
                            :color="Color.Delete"
                            :text-color="TextColor.White"
                            :disable="deleting"
                            :loading="deleting"
                            @click.stop="onDeleteClick"
                        />
                        <q-btn
                            type="submit"
                            :label="ButtonLabel.Edit"
                            :color="Color.Edit"
                            :text-color="TextColor.White"
                            :disable="updateRequestOngoing"
                            :loading="updateRequestOngoing"
                        />
                    </div>
                </q-form>
            </q-card-section>
        </q-card>
    </q-dialog>
</template>

<script setup lang="ts">
import {
    QBtn,
    QCard,
    QCardSection,
    QDialog,
    QForm,
    QInput,
    QSeparator,
    QToolbar,
    QToolbarTitle,
    useDialogPluginComponent,
    useQuasar,
    ValidationRule,
} from 'quasar';
import { ButtonLabel, Color, TextColor } from 'src/utils/general-utils';
import { ruleOptionalName } from 'src/utils/rules';
import { ref } from 'vue';
export interface VersionOrVariantDialogProps {
    entityName: string;
    entityType: string;
    updating?: boolean;
    deleting?: boolean;
}
export interface VersionOrVariantModalOk {
    type: 'PUT';
    name: string;
}
export interface VersionOrVariantModalDelete {
    type: 'DELETE';
}
export type VersionOrVariantModalRequest =
    | VersionOrVariantModalOk
    | VersionOrVariantModalDelete;
const $q = useQuasar();

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
    useDialogPluginComponent();

const props = withDefaults(defineProps<VersionOrVariantDialogProps>(), {
    updating: false,
    deleting: false,
});

const formRulesName: ValidationRule[] = [
    (v) => ruleOptionalName(v) || 'Enter a name',
];
interface VersionOrVariantForm {
    name: string;
}
const versionOrVariantForm = ref<VersionOrVariantForm>(
    initiateversionOrVariantForm()
);
const updateRequestOngoing = ref<boolean>(false);
function initiateversionOrVariantForm(): VersionOrVariantForm {
    return { name: props.entityName };
}

// REQUIRED; need to specify some events that your
// component will emit through useDialogPluginComponent()
const emits = useDialogPluginComponent['emits'];
const emit = defineEmits<{
    (e: 'ok'): void;
    (e: 'hide'): void;
}>();

// REQUIRED; must be called inside of setup()
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*.../* }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// This is REQUIRED;
// Need to inject these (from useDialogPluginComponent() call)
// into the vue scope for the vue html template

// other methods that we used in our vue html template;
// these are part of our example (so not required)
function onOKClick() {
    // on OK, it is REQUIRED to
    // call onDialogOK (with optional payload)
    const okReturnValue: VersionOrVariantModalOk = {
        ...versionOrVariantForm.value,
        type: 'PUT',
    };
    onDialogOK(okReturnValue);
    // or with payload: onDialogOK({ ... })
    // ...and it will also hide the dialog automatically
}

function onDeleteClick() {
    $q.dialog({
        title: `Delete ${props.entityType} ${props.entityName}`,
        message: `Do you really want to delete ${props.entityName}?`,
        persistent: true,
        cancel: true,
    }).onOk(() => {
        const deleteReturnValue: VersionOrVariantModalDelete = {
            type: 'DELETE',
        };
        onDialogOK(deleteReturnValue);
    });
}

// we can passthrough onDialogCancel directly
function onCancelClick() {
    onDialogCancel();
}
</script>
