<template>
    <q-chip
        :color="computedColor"
        :dense="props.mini"
        text-color="white"
        class="text-center"
    >
        <q-tooltip v-if="props.mini">{{ computedVisibility }}</q-tooltip>
        <q-icon :name="computedIcon" size="xs"></q-icon>
        {{ computedText }}
    </q-chip>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { matLock, matLockOpen } from '@quasar/extras/material-icons';
interface VisibilityChipProps {
    isPublic: boolean;
    mini?: boolean;
}
const props = withDefaults(defineProps<VisibilityChipProps>(), {
    isPublic: false,
    mini: false,
});

const computedColor = computed<string>(() =>
    props.isPublic ? 'warning' : 'positive'
);
const computedIcon = computed(() => (props.isPublic ? matLockOpen : matLock));
const computedVisibility = computed<string>(() =>
    props.isPublic ? 'public' : 'private'
);
const computedText = computed<string>(() => {
    if (props.mini) {
        return '';
    }
    return computedVisibility.value;
});
</script>
