<template>
    <q-layout view="hHh LpR fff">
        <q-header bordered class="bg-primary text-white" height-hint="98">
            <q-toolbar>
                <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

                <q-toolbar-title>
                    <span>STP</span>
                    <q-btn
                        class="q-ml-sm"
                        :to="RouteParts.Products"
                        stretch
                        flat
                        label="Products"
                    />
                </q-toolbar-title>

                <q-btn
                    name="account-menu"
                    icon="account_circle"
                    dense
                    flat
                    round
                    v-if="authStore.isAuthenticated()"
                >
                    <q-menu>
                        <q-list style="min-width: 100px">
                            <q-item
                                id="email-templates-item"
                                clickable
                                v-close-popup
                                :to="RouteParts.EmailTemplates"
                            >
                                <q-item-section>
                                    <q-icon name="mail_outline"></q-icon>
                                </q-item-section>
                                <q-item-section>Email Templates</q-item-section>
                            </q-item>
                            <q-item
                                id="email-configs-item"
                                clickable
                                v-close-popup
                                :to="RouteParts.EmailConfigs"
                            >
                                <q-item-section>
                                    <q-icon name="tune"></q-icon>
                                </q-item-section>
                                <q-item-section>Email Configs</q-item-section>
                            </q-item>
                            <q-separator />
                            <q-item
                                id="account-settings-item"
                                clickable
                                v-close-popup
                                :to="RouteParts.Account"
                            >
                                <q-item-section>
                                    <q-icon name="settings"></q-icon>
                                </q-item-section>
                                <q-item-section
                                    >Account Settings</q-item-section
                                >
                            </q-item>
                            <q-separator />
                            <q-item
                                id="logout-item"
                                clickable
                                v-close-popup
                                @click="logoutUser"
                            >
                                <q-item-section>
                                    <q-icon name="logout" />
                                </q-item-section>
                                <q-item-section>Logout</q-item-section>
                            </q-item>
                        </q-list>
                    </q-menu>
                </q-btn>

                <q-avatar>
                    <img
                        src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg"
                    />
                </q-avatar>
            </q-toolbar>
        </q-header>

        <q-drawer
            :width="drawerWidthResponsive"
            show-if-above
            v-model="leftDrawerOpen"
            side="left"
            elevated
        >
            <q-scroll-area class="fit">
                <q-list padding separator class="menu-list">
                    <q-item
                        v-for="link in links"
                        :key="link.id"
                        :to="link.to"
                        class="text-secondary text-h5"
                    >
                        <q-item-label class="row justify-center text-left">
                            {{ link.title }}
                        </q-item-label>
                    </q-item>
                </q-list>
            </q-scroll-area>
        </q-drawer>

        <q-page-container pad>
            <router-view />
        </q-page-container>

        <q-footer reveal bordered class="bg-grey-8 text-white">
            <q-toolbar>
                <q-toolbar-title class="row justify-between">
                    <div>
                        <span>System Test Portal</span>
                        <q-btn
                            class="q-ml-sm"
                            :to="RouteParts.About"
                            stretch
                            flat
                            label="About"
                        />
                    </div>
                    <div>
                        <q-btn
                            class="q-ml-sm"
                            :to="RouteParts.Privacy"
                            stretch
                            flat
                            label="Privacy"
                        />
                        <q-btn
                            class="q-ml-sm"
                            :to="RouteParts.Imprint"
                            stretch
                            flat
                            label="Imprint"
                        />
                    </div>
                </q-toolbar-title>
            </q-toolbar>
        </q-footer>
    </q-layout>
</template>

<script setup lang="ts">
import {
    QAvatar,
    QBtn,
    QDrawer,
    QFooter,
    QHeader,
    QItem,
    QItemLabel,
    QLayout,
    QList,
    QPageContainer,
    QScrollArea,
    QToolbar,
    QToolbarTitle,
    useQuasar,
} from 'quasar';
import { RouteParts } from 'src/router/routes';
import { useAuthenticationStore } from 'src/stores/authentication-store';
import { ref, computed } from 'vue';
import { RouterView, useRouter } from 'vue-router';

type LinkElement = { id: number; title: string; to: string };

const links = ref<LinkElement[]>(
    Array.from(
        [
            { title: 'Products', to: RouteParts.Products },
            { title: 'About', to: RouteParts.About },
            { title: 'Privacy', to: RouteParts.Privacy },
            { title: 'Imprint', to: RouteParts.Imprint },
        ].entries()
    ).map((v) => {
        return { ...v[1], id: v[0] };
    })
);

const authStore = useAuthenticationStore();
const router = useRouter();

function logoutUser() {
    authStore.logoutUser().then(() => {
        router.push(RouteParts.Login);
    });
}

const leftDrawerOpen = ref(false);

const $q = useQuasar();
const drawerWidthResponsive = computed<number>(() => {
    const defaultDrawerSize = 300;
    const computedDrawerSize = $q.screen.md
        ? 250
        : $q.screen.sm
        ? 200
        : $q.screen.xs
        ? 150
        : defaultDrawerSize;
    return computedDrawerSize;
});

function toggleLeftDrawer() {
    leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>
